<div class="app-img-dialog" [ngStyle]="{
  'background-image': 'url(' + image.imageUrl + ')',  
  'background-size': 'contain',
  'background-position': 'center center', 
  'background-repeat': 'no-repeat',
  'width':'100%', 
  'height':'100%'}">
  <div class="app-img-dialog-toolbar">
    <span class="app-img-dialog-title">{{image.imageType + ' - ' + image.imageTitle.substring(0,100)}}</span>
    <div fxLayout="row" fxLayoutGap="20px">
      <!-- <a class="download-ic" href="" download="{{getDownloadPath()}}">
        <mat-icon matTooltip="download" class="app-img-dialog-ic_close" (click)="closeDialog()">get_app</mat-icon>
      </a> -->
      <mat-icon matTooltip="close" class="app-img-dialog-ic_close" (click)="closeDialog()">close</mat-icon>
    </div>
  </div>
</div>