
<div *ngIf="!showFirst" class="innerbody table">
  <!-- <div fxLayout="column" fxLayout.md="row" fxLayout.lg="row" fxLayoutGap="16px">
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.gt-sm="70"> -->
        <!-- <div class="table_header">
          <div class="fl">
            <p class="tabel_heading mat-subheading-2">Done Checklist</p>
          </div>
          <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div> -->
        <div class="cl"></div>
        <mat-table [dataSource]="paidDataSource">
          <ng-container matColumnDef="questionIdFK">
            <mat-header-cell *matHeaderCellDef>Question Id</mat-header-cell>
            <mat-cell *matCellDef="let visit">{{ visit.questionIdFK }}</mat-cell> 
          </ng-container>
          <ng-container matColumnDef="questionType">
            <mat-header-cell *matHeaderCellDef>Question Type</mat-header-cell>
            <mat-cell *matCellDef="let visit">{{ visit.questionType }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="answer">
              <mat-header-cell *matHeaderCellDef>Answers</mat-header-cell>
              <mat-cell *matCellDef="let visit">{{ visit.answer }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="isDanger">
                <mat-header-cell *matHeaderCellDef>Is Danger</mat-header-cell>
                <mat-cell *matCellDef="let visit">{{ visit.isDanger }}</mat-cell>
              </ng-container>
          <!-- <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef i18n>Actions</mat-header-cell> 
            <mat-cell *matCellDef="let visit">
              <div>
                <mat-menu #dailyPerformanceMenu="matMenu">
                  <a mat-menu-item (click)="viewQuestion(visit.doneChecklistId)">
                    <mat-icon matListIcon>edit</mat-icon>
                    <span i18n>View Questions List</span>
                  </a>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                  <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container> -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div>
          <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
          </mat-paginator>
        </div>
    <!-- </div>
  </div> -->
</div>
