<div *ngIf="!showFirst" fxLayout="column" class="table">
  <div class="padding_box" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.xs="20px"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxFlex.xs="100" fxLayoutAlign.xs="center center">
      <p class="title_header mat-subheading-2 tal">Checklist Questions</p>
    </div>
    <div fxFlex.xs="100" fxLayoutAlign.xs="center center" *ngIf="!showFirst"
      class="example-button-row btn_style bg_white_grey">
      <button matTooltip="CLick here to go back to list" fxFlex.xs="100" mat-button (click)="backToList()">
        <mat-icon>list</mat-icon> Back
      </button>
    </div>
  </div>
  <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
    <p>No Record Found</p>
  </div>
  <ng-template #recordFound>
    <mat-table [dataSource]="paidDataSource">
      <ng-container matColumnDef="question">
        <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef>Question</mat-header-cell>
        <mat-cell fxLayoutAlign="start center" *matCellDef="let visit">{{ visit.question }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="isDanger">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Is Critical</mat-header-cell>
        <mat-cell fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.isDanger }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="answer">
        <mat-header-cell fxHide.xs fxLayoutAlign="end center" *matHeaderCellDef>Answers</mat-header-cell>
        <mat-cell fxHide.xs fxLayoutAlign="end center" *matCellDef="let visit">
          <div *ngIf="visit.answer.includes('IMG') ; else answer"
            (click)="$event.stopPropagation(); priviewImage( visit.question, imgurl)" [ngStyle]="{ 
            'background-image': 'url(' + imgurl + ')', 
            'background-size': 'contain',
            'background-position': 'center center',   
            'background-repeat': 'no-repeat', 
            'width':'80px', 
            'height':'80px',
            'margin': '5px'
          }"></div>
          <ng-template #answer>
            {{visit.answer}}
          </ng-template>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-template>
  <div>
    <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>

<app-view-history *ngIf="showFirst"></app-view-history>