<div class="table padding_container margin_auto">
  <mat-card class="flex_container">
    <div class="admin_profile_page mat_box">
      <div class="innerpage_title header_title">
        <p class="title_header mat-subheading-2 tal">Profile Information</p>
      </div>
      <mat-card-content>
        <div class="form_column">
          <div class="padding_container field">
            <div class="block">
              <h4 class=" mat-h4 db ">Name</h4>
              <span>{{profile.adminName}}</span>
            </div>
          </div>
          <div class="padding_container field">
            <div class="block">
              <h4 class=" mat-h4 db ">Mobile Number</h4>
              <span>{{profile.mobileNumber}}</span>
            </div>
          </div>
          <div class="padding_container field">
            <div class="block">
              <h4 class=" mat-h4 db ">Email Id</h4>
              <span>{{profile.emailId}}</span>
            </div>
          </div>
          <div class="padding_container field">
            <div class="block">
              <h4 class=" mat-h4 db ">Organization Name</h4>
              <span>{{profile.organizationName}}</span>
            </div>
          </div>
          <!-- <div class="padding_container field pad-bottom-0">
                        <div class="block">
                            <h4 class=" mat-h4 db ">Organization Description</h4>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                                kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
                        </div>
                    </div> -->
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>