<div fxLayout="row" fxFlex="100" fxLayoutAlign="space-evenly start" class="width_90 margin_auto padding_container">
  <mat-card fxFlex="100" fxFlex.lt-md="95" class="width_80 right_side_box">
    <div class="innerpage_title">
      <div class="header_title flex_container">
        <div class="width_75">
          <p class="title_header mat-subheading-2 tal">Documents</p>
        </div>
      </div>
      <div>
        <div class="fl total">
          <p><b>{{totalDocumate}}</b><span>Total Documents</span></p>
        </div>
      </div>
      <div class="cl"></div>
    </div>
    <mat-tab-group class="">
      <mat-tab label="Document">
        <div>
          <div fxLayout="column">
            <div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="padding_box">
                <div fxFlex.xs="100">
                  <button fxFlex.xs="100" mat-button (click)="addDocumate()" class="bg_white_grey btn_style">
                    <mat-icon>add</mat-icon>Add Document
                  </button>
                </div>
                <div fxFlex.xs="100">
                  <form fxFlex.xs="100" class="filter_search">
                    <mat-form-field fxFlex.xs="100">
                      <input matInput (keyup)="searchDocumate($event.target.value)" placeholder="Search">
                    </mat-form-field>
                  </form>
                </div>
              </div>
              <div class="cl"></div>
              <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
                <p>No Record Found</p>
              </div>
              <ng-template #recordFound>
                <mat-table [dataSource]="paidDataSource">
                  <ng-container matColumnDef="title">
                    <mat-header-cell fxLayoutAlign.xs="center center" *matHeaderCellDef>Title</mat-header-cell>
                    <mat-cell fxLayoutAlign.xs="center center" *matCellDef="let visit">{{ visit.title }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="documentType">
                    <mat-header-cell fxLayoutAlign.xs="center center" *matHeaderCellDef>Document Type</mat-header-cell>
                    <mat-cell fxLayoutAlign.xs="center center" *matCellDef="let visit">{{ visit.documentType }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="documentCodeImage">
                    <mat-header-cell fxHide.xs *matHeaderCellDef i18n>Document Code Image
                    </mat-header-cell>
                    <mat-cell fxHide.xs class="imgwrapper rounded img-responsive" *matCellDef="let visit">
                      <qrcode (click)="openDialog(visit.documentCode)" [qrdata]="visit.documentCode" [size]="60"
                        [level]="'M'">
                      </qrcode>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <mat-header-cell fxHide.xs *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell fxHide.xs *matCellDef="let visit">
                      {{ visit.description.length>52?visit.description.substring(0,52)+'...':visit.description }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Actions">
                    <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
                    <mat-cell fxLayoutAlign="end center" *matCellDef="let visit">
                      <div>
                        <mat-menu #dailyPerformanceMenu="matMenu">
                          <a mat-menu-item (click)="downloadDocument(visit.filepath)" target="blank">
                            <mat-icon matListIcon>get_app</mat-icon>
                            <span i18n>Download Document</span>
                          </a>
                          <a mat-menu-item (click)="editDocumate(visit)">
                            <mat-icon matListIcon>edit</mat-icon>
                            <span i18n>Edit Document</span>
                          </a>
                          <a mat-menu-item (click)="deleteDocumate(visit.documentId,visit.title)">
                            <mat-icon matListIcon>delete_outline</mat-icon>
                            <span i18n>Delete Document</span>
                          </a>
                        </mat-menu>
                        <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                          <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
                        </button>
                      </div>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </ng-template>
              <div>
                <mat-paginator #myPaginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber'
                  (page)="pageChange($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>