<div fxLayout="row" fxFlex="100" fxLayoutAlign="space-evenly start"
  class="innerpage assets_view padding_container flex_container margin_auto">
  <mat-card fxFlex="100" fxFlex.lt-md="95" class="width_80 right_side_box">
    <div class="innerpage_title">
      <div class="header_title flex_container">
        <div class="width_75">
          <p class="title_header mat-subheading-2 tal">Organizations</p>
        </div>
      </div>
      <div>
        <div class="fl total">
          <p><b>{{totalCount}}</b><span>Total Organizations</span></p>
        </div>
      </div>
      <div class="cl"></div>
    </div>
    <mat-tab-group>
      <mat-tab label="Organizations">
        <div>
          <div fxLayout="column">
            <div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="padding_box">
                <div fxFlex.xs="100" class="example-button-row btn_style bg_white_grey">
                  <button fxFlex.xs="100" mat-button (click)="addNewOrganization()" class="bg_white_grey btn_style">
                    <mat-icon>add</mat-icon>Add New Organization
                  </button>
                </div>
                <div fxFlex.xs="100">
                  <form fxFlex.xs="100" class="example-form filter_search">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Search" (keyup)="searchOrganization($event.target.value)">
                    </mat-form-field>
                  </form>
                </div>
              </div>
              <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
                <p>No Record Found</p>
              </div>
              <ng-template #recordFound>
                <mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="OrganizationName">
                    <mat-header-cell fxLayoutAlign.xs="center center" *matHeaderCellDef>Organization Name
                    </mat-header-cell>
                    <mat-cell fxLayoutAlign.xs="center center" *matCellDef="let element">{{ element.organizationName }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="OrganizationCode">
                    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Organization Code</mat-header-cell>
                    <mat-cell fxLayoutAlign="center center" *matCellDef="let element">{{ element.organizationCode }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="CreatedOn">
                    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Created On</mat-header-cell>
                    <mat-cell fxLayoutAlign="center center" *matCellDef="let element">{{ element.createdDate }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="OrganizationDescription">
                    <mat-header-cell fxFlex="30" fxLayoutAlign="center center" *matHeaderCellDef>Organization
                      Description
                    </mat-header-cell>
                    <mat-cell fxFlex="30" fxLayoutAlign="center center" *matCellDef="let element">
                      {{ element.description.substring(0, 40) }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="TotalAdmins">
                    <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Admins</mat-header-cell>
                    <mat-cell fxLayoutAlign="center center" *matCellDef="let element">{{ element.totalAdmins }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="TotalAssets">
                    <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Assets
                    </mat-header-cell>
                    <mat-cell fxLayoutAlign="center center" *matCellDef="let element">{{ element.totalAssets }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="TotalUsers">
                    <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Users
                    </mat-header-cell>
                    <mat-cell fxLayoutAlign="center center" *matCellDef="let element">{{ element.totalUsers }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Actions">
                    <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
                    <mat-cell fxLayoutAlign="end center" (click)="$event.stopPropagation()" *matCellDef="let element">
                      <div>
                        <mat-menu #dailyPerformanceMenu="matMenu">
                          <a mat-menu-item (click)="goToParticularOrganization(element.organizationId)">
                            <mat-icon matListIcon>visibility</mat-icon>
                            <span i18n>View Org. Dashboard</span>
                          </a>
                          <a mat-menu-item (click)="editOrganization(element)">
                            <mat-icon matListIcon>edit</mat-icon>
                            <span i18n>Edit Org.</span>
                          </a>
                          <a mat-menu-item (click)="deleteOrganization(element)">
                            <mat-icon matListIcon>delete_outline</mat-icon>
                            <span i18n>Delete Org.</span>
                          </a>
                        </mat-menu>
                        <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                          <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
                        </button>
                      </div>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row class="example-element-row" (click)="goToParticularOrganization(element.organizationId)"
                    *matRowDef="let element; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
              </ng-template>
              <div>
                <mat-paginator #myPaginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber'
                  (page)="pageChange($event)">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>