<div>
  <div class="dialog-toolbar">
    <p class="dialog-toolbar-title">{{isCurrentOperationEdit ? 'Edit Admin Details' : 'Add Admin'}}</p>
  </div>

  <div class="dialog-content-container">
    <form [formGroup]="adminForm">
      <div fxLayout="column" fxLayoutGap="15px">
        <mat-form-field fxFlex="100">
          <input matInput type="text" required placeholder="First Name" (keydown.space)="$event.preventDefault();"
            formControlName="firstName">
          <mat-error>Only characters are allowed</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <input matInput type="text" required placeholder="Last Name" (keydown.space)="$event.preventDefault();"
            formControlName="lastName">
          <mat-error>Only characters are allowed</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <mat-select required placeholder="Select Organization" formControlName="organization">
            <mat-option *ngFor="let organization of arrOrganization" [value]="organization.organizationId">
              {{organization.organizationName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <input required matInput type="number" placeholder="Mobile No." (keydown.space)="$event.preventDefault();"
            formControlName="mobileNo">
          <mat-error>Invalid mobile no.</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <input required matInput type="text" placeholder="Email Id" (keydown.space)="$event.preventDefault();"
            formControlName="emailId">
          <mat-error>Invalid email id</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input required matInput placeholder="Create admin password" (keydown.space)="$event.preventDefault();"
            [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>Password length must be minimum 6 characters</mat-error>
          <mat-hint>Password length must be minimum 6 characters</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="dialog-actions" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign.gt-xs="end center">
    <button fxFlex.xs="100" mat-stroked-button i18n color="primary" (click)="onNoClick()">Cancel</button>
    <button fxFlex.xs="100" *ngIf="!isCurrentOperationEdit" mat-raised-button i18n color="primary" type="submit"
      [disabled]="!adminForm.valid" (click)="addAdmin()" cdkFocusInitial>Add</button>
    <button fxFlex.xs="100" *ngIf="isCurrentOperationEdit" mat-raised-button i18n color="primary" type="submit"
      [disabled]="!adminForm.valid" (click)="editAdmin()">Update</button>
  </div>
</div>