<div class="width_90 margin_auto">
  <mat-card>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
      <div fxFlex="40" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/ic_total_organizations.svg" alt="" srcset=""></li>
            <li>Total Organizations</li>
            <li>
              <h2 class="count">{{superAdminDashboardCounts.totalOrganizations}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><br> <button mat-button color="primary" routerLink="/superadmin/organization"
            class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
      <div class="verticle-divider" fxHide.lt-sm="true">
      </div>
      <div fxFlex="40" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/ic_total_admins.svg" alt="" srcset=""></li>
            <li>Total Admins</li>
            <li>
              <h2 class="count">{{superAdminDashboardCounts.totalAdmins}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><br><button mat-button routerLink="/superadmin/sys-admins" color="primary"
            class="fr">More
            Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="graph-m-t" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-around"
    fxLayoutAlign="space-around start" fxLayoutGap="30px">
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <div fxLayout="row" fxLayoutAlign="end end">
          <mat-form-field fxFlex.xs="100">
            <mat-select [(value)]="defaultyear" (selectionChange)="selectedYear($event.value)" name="year" id="year"
              placeholder="Select Year">
              <mat-option *ngFor="let yr of years" [value]="yr.Id">
                {{yr.data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data">
          <canvas id="mycanvas" width="40" height="20"></canvas>
          <p class="graph-font">{{MonthlyGraphTitle}}-Year ({{selectedyear}})</p>
        </div>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <div style="visibility: hidden;" fxLayout="row" fxLayoutAlign="end end">
          <mat-form-field fxFlex.xs="100">
            <mat-select [(value)]="defaultyear" (selectionChange)="selectedYear($event.value)" name="year" id="year"
              placeholder="Select Year">
              <mat-option *ngFor="let yr of years" [value]="yr.Id">
                {{yr.data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data1">
          <canvas id="topOrg" width="40" height="20"></canvas>
          <p class="graph-font">{{TopOrgAssetTitle}}</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>