<div class="width_90 margin_auto">
  <mat-card>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
      <div fxFlex="40" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/ic_total_organizations.svg" alt="" srcset=""></li>
            <li>Total Organizations</li>
            <li>
              <h2 class="count">{{superAdminDashboardCounts.totalOrganizations}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><br> <button mat-button color="primary" routerLink="/superadmin/organization"
            class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
      <div class="verticle-divider" fxHide.lt-sm="true">
      </div>
      <div fxFlex="40" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/ic_total_admins.svg" alt="" srcset=""></li>
            <li>Total Admins</li>
            <li>
              <h2 class="count">{{superAdminDashboardCounts.totalAdmins}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><br><button mat-button routerLink="/superadmin/sys-admins" color="primary"
            class="fr">More
            Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
    </div>
  </mat-card>

  <div class="graph-m-t" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-around"
    fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data">
          <p class="graph-font">Month wise organizations added (Year 2019)</p>
          <canvas id="mycanvas" width="40" height="20"></canvas>
        </div>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data1">
          <p class="graph-font">Top Assets Organizations</p>
          <canvas id="topOrg" width="40" height="20"></canvas>
        </div>
      </mat-card>
    </div>
  </div>
</div>