<div fxLayout="row" fxFlex="100" class="innerbody table">

  <div fxFlex="100" class=" margin_auto padding_container">
    <div fxLayout.xs="column" class="portal-widget">
      <mat-card fxFlex="100" fxFlex.lt-md="95">

        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="table_header">
          <div fxLayoutAlign="center center" fxFlex.xs="100" class="fl">
            <p class="tabel_heading mat-subheading-2">User Roles List</p>
          </div>
          <div fxFlex.xs="100" class="fr">
            <div fxFlex.xs="100" class="example-button-row btn_style">
              <button fxFlex.xs="100" mat-button (click)="addRole()" class="bg_white_grey">
                <mat-icon>add</mat-icon>Add User Role
              </button>
            </div>
          </div>
        </div>
        <div class="cl"></div>
        <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
          <p>No Record Found</p>
        </div>
        <ng-template #recordFound>
          <mat-table [dataSource]="paidDataSource">
            <!-- <ng-container matColumnDef="userRoleId">
            <mat-header-cell *matHeaderCellDef>User Role Id</mat-header-cell>
            <mat-cell *matCellDef="let visit">{{ visit.userRoleId }}</mat-cell>
          </ng-container> -->
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
              <mat-cell *matCellDef="let visit">{{ visit.title }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
              <mat-cell fxLayoutAlign="end center" *matCellDef="let visit">
                <div>
                  <mat-menu #dailyPerformanceMenu="matMenu">
                    <a mat-menu-item (click)="editRole(visit)">
                      <mat-icon matListIcon>edit</mat-icon>
                      <span i18n>Edit User Role</span>
                    </a>
                    <a mat-menu-item (click)="deleteRole(visit.userRoleId, visit.title)">
                      <mat-icon matListIcon>delete_outline</mat-icon>
                      <span i18n>Delete User Role</span>
                    </a>
                  </mat-menu>
                  <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                    <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </ng-template>
        <div>
          <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>