<div fxLayout="column" fxFlex="100">
  <div>
    <span class="page-title">{{formtitle}}</span>
  </div>
  <form #configform="ngForm" class="form-container">
    <div fxLayout="column" mat-dialog-content>
      <mat-form-field>
        <input matInput type="number" name="numberOfUsers" [(ngModel)]="configData.numberOfUsers"
          placeholder="Enter User Limit" required>
        <mat-hint>User limit should be in digits only</mat-hint>
      </mat-form-field>
      <div>
        <div class="authorities">
          <div class="authorities-title">
            Features
          </div>
          <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
            <p>No Record Found</p>
          </div>
          <ng-template #recordFound>
            <div class="authorities-text" fxLayout="column" fxLayoutGap="25px">
              <!-- <div *ngIf="!isEdited">
                <mat-checkbox color="primary" [checked]="selectAll" (change)="chkAllChange($event)" type="checkbox"
                  class="select_all">Select all
                </mat-checkbox> 
              </div> -->
              <div fxLayout="column" fxLayoutGap="10px">
                <div *ngFor="let unit of OrgFeatureList; let parentIndex=index">
                  <mat-checkbox color="primary" [checked]="unit.isChecked"
                    (change)="onParentChange(parentIndex,$event)">
                    {{unit.title+ ' (' + unit.featureCode + ')'}}
                  </mat-checkbox>
                  <div *ngFor="let child of unit.child; let childIndex=index">
                    <mat-checkbox class="subchild" color="primary" [checked]="child.isChecked"
                      (change)="onChildChange(parentIndex,childIndex,$event)">
                      {{child.title+ ' (' + child.featureCode + ')'}}
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div>
        <div class="guideline">
          <div class="guideline-title">
            Guideline
          </div>
          <div class="guideline-text">
            <ul>
              <li>User limit entered will be applied to particular organization,then organization will set limit to user
                module </li>
              <li>Authorities choosed will be allocated to particular organization</li>
              <li>When this modules will be assigned to particular organization, then organization will have access to
                these modules</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 15px;" mat-mat-dialog-actions>
      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxFlex="100" fxLayoutAlign.gt-xs="end center">
        <button [mat-dialog-close]="cancelbtn" fxFlex.xs="100" mat-stroked-button i18n color="primary">Cancel</button>
        <button *ngIf="!isEdited" [color]="'success'" (click)="UpdateOrgConfig(configform.value)" mat-raised-button i18n
          [disabled]="!configform.valid" color="primary" type="submit">Add</button>
        <button *ngIf="isEdited" [color]="'success'" (click)="UpdateOrgConfig(configform.value)" mat-raised-button i18n
          [disabled]="!configform.valid" color="primary" type="submit">Update</button>
      </div>
    </div>
  </form>
</div>