<div *ngIf="!showFirst" fxLayout="column" fxFlex="100">
  <div>
    <p class="page-title">{{formTitle}}</p>
  </div>
  <div fxLayout="row" fxFlex="100">
    <form #checklistform="ngForm" fxLayout="column" fxFlex="100" class="example-form"
      class="listing_space add_department">
      <mat-form-field fxFlex.xs="100">
        <mat-label>Select Category</mat-label>
        <mat-select disabled name="categoryId" id="categoryId" [(ngModel)]="checklistData.categoryId" required>
          <mat-option *ngFor="let categ of categoryList" [value]="categ.categoryId">
            {{categ.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex.xs="100">
        <input matInput name="title" id="title" minlength="2" [(ngModel)]="checklistData.title" #title="ngModel"
          placeholder="Checklist Title" required>
        <mat-error *ngIf="checklistform.submitted && title.invalid">
          <mat-error *ngIf="title.errors.required">Checklist title is required</mat-error>
        </mat-error>
        <mat-error *ngIf="title.errors?.minlength">Please enter atleast 2 Characters</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex.xs="100">
        <input name="checkingDuration" pattern="[0-9 ]*" id="checkingDuration"
          [(ngModel)]="checklistData.checkingDuration" matInput #CheckDur="ngModel" type="number" required
          placeholder="Checking Duration">
        <mat-error *ngIf="checklistData.submitted && CheckDur.invalid">
          <mat-error *ngIf="CheckDur.errors.required">Checking Duration is required</mat-error>
        </mat-error>
        <mat-error *ngIf="CheckDur.errors?.pattern">Please enter only Numbers</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex.xs="100">
        <mat-select name="durationTypeIdFK" id="durationTypeIdFK" [(ngModel)]="checklistData.durationTypeIdFK"
          #DurType="ngModel" placeholder="Select Checking Duration Type" required>
          <mat-option *ngFor="let duration of durationList" [value]="duration.durationTypeId">
            {{duration.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="checklistform.submitted && DurType.invalid">
          <mat-error *ngIf="DurType.errors.required">Duration Type is required</mat-error>
        </mat-error>
      </mat-form-field>
      <div fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign.gt-xs="end center">
        <button [mat-dialog-close]="cancelbtn" fxFlex.xs="100" mat-stroked-button i18n color="primary">Cancel</button>
        <button fxFlex.xs="100" type="submit" *ngIf="!isEdited" [disabled]="!checklistform.valid"
          (click)="addChecklist(checklistform.value)" mat-raised-button class="bg_primary text_white btn">Save
          Checklist</button>
        <button fxFlex.xs="100" *ngIf="isEdited" [disabled]="!checklistform.valid" [color]="'success'" mat-raised-button
          i18n color="primary" type="submit" [disabled]="!assetform.valid"
          (click)="editChecklist(checklistform.value)">Update
          Checklist</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="showFirst" fxLayout="column" fxFlex="100">
  <app-view-checklist></app-view-checklist>
</div>