<div fxLayout="row" class="margin_auto" fxLayoutAlign="space-evenly start">
    <app-filter-category fxFlex="20" fxHide.lt-md="true"></app-filter-category>
    <mat-card fxFlex="75" fxFlex.lt-md="95">
        <div class="innerpage_title">
            <div class="header_title flex_container">
                <div>
                    <button mat-button (click)="backToList()"
                        class="back btn_style round_squer bg_pink_navy text_white">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button>
                </div>
                <div class="width_75">
                    <p class="title_header mat-subheading-2 tal">{{category.title}}</p>
                </div>
            </div>
            <div>
                <div class="fl total">
                    <p><b>{{category.totalAssets}}</b><span>Total Asset</span></p>
                </div>
                <div class="fl total">
                    <p><b>{{category.totalChecklists}}</b><span>Checklist</span></p>
                </div>
                <div class="fl total">
                    <p><b>{{category.totalDocuments}}</b><span>Documents</span></p>
                </div>
                <div class="fl total">
                    <p><b>{{category.totalAssignedUsers}}</b><span>Assigned Users</span></p>
                </div>
            </div>
            <div class="cl"></div>
        </div>
        <mat-tab-group class="" [selectedIndex]="getSelectedTabIndex()">
            <mat-tab label="Assets">
                <app-view-asset></app-view-asset>
            </mat-tab>
            <mat-tab label="Checklist">
                <app-view-checklist></app-view-checklist>
            </mat-tab>
            <mat-tab label="Documents">
                <app-view-category-document></app-view-category-document>
            </mat-tab>
            <mat-tab label="Assigned Users">
                <app-view-assign-user></app-view-assign-user>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>

<!-- <div class="innerpage assets_view padding_container flex_container margin_auto">
    <app-filter-category fxHide.lt-md="true"></app-filter-category>
    <mat-card class="width_80 right_side_box">
        <div class="innerpage_title">
            <div class="header_title flex_container">
                <div>
                    <button mat-button (click)="backToList()"
                        class="back btn_style round_squer bg_pink_navy text_white">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button>
                </div>
                <div class="width_75">
                    <p class="title_header mat-subheading-2 tal">{{category.title}}</p>
                </div>
            </div>
            <div>
                <div class="fl total">
                    <p><b>{{category.totalAssets}}</b><span>Total Asset</span></p>
                </div>
                <div class="fl total">
                    <p><b>{{category.totalChecklists}}</b><span>Checklist</span></p>
                </div>
                <div class="fl total">
                    <p><b>{{category.totalDocuments}}</b><span>Documents</span></p>
                </div>
                <div class="fl total">
                    <p><b>{{category.totalAssignedUsers}}</b><span>Assigned Users</span></p>
                </div>
            </div>
            <div class="cl"></div>
        </div>
        <mat-tab-group class="" [selectedIndex]="getSelectedTabIndex()">
            <mat-tab label="Assets">
                <app-view-asset></app-view-asset>
            </mat-tab>
            <mat-tab label="Checklist">
                <app-view-checklist></app-view-checklist>
            </mat-tab>
            <mat-tab label="Documents">
                <app-view-category-document></app-view-category-document>
            </mat-tab>
            <mat-tab label="Assigned Users">
                <app-view-assign-user></app-view-assign-user>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div> -->