<div class="innerbody table">
  <div fxLayout="column" fxLayout.md="row" fxLayout.lg="row" fxLayoutGap="16px">
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.gt-sm="70">

      <mat-card>

        <div class="table_header">
          <div class="fl">
            <p class="tabel_heading mat-subheading-2">Assetmate</p>
          </div>
          <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
         </div>

          <div class="fr">
            <div class="example-button-row btn_style">
              <button mat-button (click)="addAsset()" class="bg_white_grey"> 
                <mat-icon>add</mat-icon>Add Asset
              </button>
            </div>
          </div>
        </div>
        <div class="cl"></div>
        <mat-table [dataSource]="paidDataSource">
          <ng-container matColumnDef="assetId">
            <mat-header-cell *matHeaderCellDef>Asset Id</mat-header-cell>
            <mat-cell *matCellDef="let visit">{{ visit.assetId }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="assetCodeImage">
            <mat-header-cell *matHeaderCellDef i18n>Asset Code Image </mat-header-cell>
            <mat-cell *matCellDef="let visit"><img class="imgwrapper rounded img-responsive"
                src="{{visit.assetCodeImage}}" alt="photo"></mat-cell>
          </ng-container>
          <ng-container matColumnDef="assetCode">
            <mat-header-cell *matHeaderCellDef i18n>Asset Code </mat-header-cell>
            <mat-cell *matCellDef="let visit">{{visit.assetCode}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="assetImage">
            <mat-header-cell *matHeaderCellDef>Images</mat-header-cell>
            <mat-cell *matCellDef="let visit"><img class="imgwrapper rounded img-responsive" src="{{visit.assetImage}}"
                alt="photo"></mat-cell>
          </ng-container>
          <ng-container matColumnDef="assetTitle">
            <mat-header-cell *matHeaderCellDef>Asset Title</mat-header-cell>
            <mat-cell *matCellDef="let visit">{{ visit.assetTitle }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="categoryName">
            <mat-header-cell *matHeaderCellDef>Asset Category</mat-header-cell>
            <mat-cell *matCellDef="let visit">{{ visit.categoryName }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="modelNumber">
            <mat-header-cell *matHeaderCellDef>Model Number</mat-header-cell>
            <mat-cell *matCellDef="let visit">{{ visit.modelNumber }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef i18n>Actions</mat-header-cell>
            <mat-cell *matCellDef="let visit">
              <div>
                <mat-menu #dailyPerformanceMenu="matMenu">
                  <a mat-menu-item (click)="viewAsset(visit.assetId)">
                    <mat-icon matListIcon>visibility</mat-icon>
                    <span i18n>View Asset Detail</span>
                  </a>
                  <a mat-menu-item (click)="editAsset(visit.assetId)"> 
                    <mat-icon matListIcon>edit</mat-icon>
                    <span i18n>Edit Asset</span>
                  </a>
                  <a mat-menu-item (click)="deleteAsset(visit.assetId)">
                    <mat-icon matListIcon>delete_outline</mat-icon>
                    <span i18n>Delete Asset</span>
                  </a>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                  <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container> 
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div >
          <mat-paginator 
            [length]='totalCount' 
            [pageSize]="10" 
            [pageIndex]='pageNumber'
            (page)="pageChange($event)">
          </mat-paginator> 
        </div>
      </mat-card>
    </div>
  </div>
</div>  