<div *ngIf="!showFirst" fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="padding_box">
    <button fxFlex.xs="100" mat-button (click)="addAsset()" class="bg_white_grey btn_style">
      <mat-icon>add</mat-icon>Add Document
    </button>
    <form class="example-form filter_search" fxFlex.xs="100">
      <mat-form-field class="example-full-width" fxFlex.xs="100">
        <input matInput (keyup)="searchDocument($event.target.value)" placeholder="Search">
      </mat-form-field>
    </form>
  </div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef>Document Title</mat-header-cell>
      <mat-cell fxLayoutAlign="start center" *matCellDef="let visit">{{ visit.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Document Description</mat-header-cell>
      <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">
        {{ visit.description.length>52?visit.description.substring(0,52)+'...':visit.description }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
      <mat-cell fxLayoutAlign="end center" *matCellDef="let visit">
        <div>
          <mat-menu #dailyPerformanceMenu="matMenu">
            <a mat-menu-item (click)="downloadDocument(visit.filepath)" target="blank">
              <mat-icon matListIcon>get_app</mat-icon>
              <span i18n>Download Document</span>
            </a>
            <a mat-menu-item (click)="editDocument(visit)">
              <mat-icon matListIcon>edit</mat-icon>
              <span i18n>Edit Document</span>
            </a>
            <a mat-menu-item (click)="deleteDocument(visit.documentId, visit.title)">
              <mat-icon matListIcon>delete_outline</mat-icon>
              <span i18n>Delete Document</span>
            </a>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
            <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div>
    <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>

<div *ngIf="showFirst" fxLayout="column" fxFlex="100">
  <app-add-category-document></app-add-category-document>
</div>