<div fxLayout="column" fxFlex="100">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center">
    <div fxFlex.xs="100">
      <button *ngIf="!isCurrentUserSuperAdmin()" fxFlex.xs="100" mat-button (click)="addTransferTask()"
        class="bg_white_grey btn_style">
        <mat-icon>sync_alt</mat-icon>Transfer Task
      </button>
    </div>
    <form class="example-form filter_search" fxFlex.xs="100">
      <mat-form-field class="example-full-width" fxFlex.xs="100">
        <input matInput (keyup)="searchTaskTransferlist($event.target.value)" placeholder="Search">
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
    <p>No Record Found</p>
  </div>
  <ng-template #recordFound>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="complaintTitle">
        <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Task Title</mat-header-cell>
        <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.complaintTitle }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fromUser">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>From User</mat-header-cell>
        <mat-cell fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.fromUser }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="toUser">
        <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>To User</mat-header-cell>
        <mat-cell fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.toUser }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="transferStatus">
        <mat-header-cell fxLayoutAlign.xs="end center" *matHeaderCellDef>Transfer Status</mat-header-cell>
        <mat-cell fxLayoutAlign.xs="end center" class="transferstatus" *matCellDef="let visit">
          {{ visit.transferStatus }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Created Date</mat-header-cell>
        <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">
          {{ visit.createdDate }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let visit; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-template>
  <div>
    <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>