<div>
  <div fxLayout="row">
    <p class="page-title">{{formTitle}}</p>
  </div>
  <form #assignuserform="ngForm" fxLayout="column" novalidate>

    <div fxLayout="column">
      <mat-form-field fxFlex.gt-xs="33" fxFlex.xs="100">
        <mat-select disabled name="assignmentTypeIdFK" id="assignmentTypeIdFK" #assignuserType="ngModel"
          [(ngModel)]="assignUserData.assignmentTypeIdFK" placeholder="Select Assignment Type" required>
          <mat-option *ngFor="let assign of assignmentLists" [value]="assign.assignmentTypeId">
            {{assign.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="assignuserform.submitted && assignuserType.invalid">
          <mat-error *ngIf="assignuserType.errors.required">Assigned User Type is required</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="33" fxFlex.xs="100">
        <mat-select disabled name="masterIdFK" id="masterIdFK" [(ngModel)]="assignUserData.masterIdFK"
          #CategoryName="ngModel" placeholder="Select Asset" required>
          <mat-option *ngFor="let category of categoryLists" [value]="category.assetId">{{category.assetTitle}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="assignuserform.submitted && CategoryName.invalid">
          <mat-error *ngIf="CategoryName.errors.required">Category Name is required</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="33" fxFlex.xs="100">
        <mat-select multiple name="users" id="users" [(ngModel)]="assignUserData.users" #UsersName="ngModel"
          placeholder="Select Users" required>
          <mat-option *ngFor="let user of userLists" [value]="user.userIdFK">
            {{user.firstName+' '+user.lastName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="assignuserform.submitted && UsersName.invalid">
          <mat-error *ngIf="UsersName.errors.required">Users Name is required</mat-error>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign.gt-xs="end center">
      <button fxFlex.xs="100" mat-stroked-button i18n color="primary" (click)="onNoClick()">Cancel</button>
      <button fxFlex.xs="100" *ngIf="!isEdited" mat-raised-button i18n color="primary"
        [matTooltip]="!assignuserform.valid ? 'You must complete all the required fields.' : null" type="submit"
        [disabled]="!assignuserform.valid" (click)="addAssignUser(assignuserform.value)">Add</button>
    </div>

  </form>
</div>