.asset-img-guide-container{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.guide-container{
    padding: 20px 20px;
}
