.asset-img-guide-container{
    padding: 20px;
   width: 100%;
   height: 100%;
}

img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.round {
    width: 41px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a5a5a5;
    font-size: 14px;
    padding: 1px;
  }

  .userguide {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;
    background-color: rgb(223, 222, 222);
    border-radius: 2px;
    padding:5px 0;
  }

  #div-print {
    height: 0% !important;
    width: 0% !important;
    overflow: hidden;
  }

  .slideer-sw-container{
    border: 1px solid #eee;
    padding: 10px 20px;
    border-radius: 4px;
  }