<div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" class="table padding_container margin_auto">
  <mat-card fxLayout="column" fxFlex="30" fxFlex.lt-md="95" class="flex_container">
    <div fxLayout.xs="column" class="admin_profile_page mat_box">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="space-around center"
        class="innerpage_title header_title">
        <p class="title_header mat-subheading-2 tal">Change Password</p>
      </div>
      <form fxLayout="column" #changePassform="ngForm" novalidate>
        <div fxLayout="column" class="form-padding">
          <div fxLayout="row">
            <mat-form-field fxFlex="100">
              <input matInput type="password" minlength="6" #OldPass="ngModel" autocomplete="off" id="password"
                name="password" [(ngModel)]="password" placeholder="Enter Old Password" required>
              <mat-error *ngIf="OldPass.errors?.minlength">
                Password length Must be atleast 6!
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="100">
              <input matInput type="password" minlength="6" #newPass="ngModel" id="newPassword" autocomplete="off"
                name="newPassword" [(ngModel)]="newPassword" placeholder="Enter New Password" required>
              <mat-error *ngIf="newPass.errors?.minlength">
                Password length Must be atleast 6!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="savebtn">
          <button fxFlex.xs="80" [color]="'success'" mat-raised-button i18n color="primary"
            [matTooltip]="!changePassform.valid ? 'You must complete all the required fields.' : null" type="submit"
            [disabled]="!changePassform.valid" (click)="changePassword(changePassform.value)">Change Password</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>