.category-card-tile{
    padding:15px 0px;
}

.category-card{
    width:230px;
}

.category_counter p span,
.innerpage_title .total span,
.listing p span {
  color: #646464;
}

.title_header {
    font-size: 16px;
    text-transform: capitalize;
}

.category_counter {
    margin-left: 15px;
    margin-top: 15px;
}

.category_counter p b {
    min-width: 10px;
    width: 25px;
    display: inline-block;
}

.category_counter p {
    margin: 7px 0px;
}