<div class="margin_auto padding_container">
    <!--start-header-->
    <mat-card>
        <mat-grid-list cols="2" rowHeight="50px" class="filter_search">
            <mat-grid-tile> <span class="title_header mat-subheading-2 tal">Catergories</span></mat-grid-tile>
            <mat-grid-tile>
                <form class="example-form filter_search">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Search" (keyup)="searchCategory($event.target.value)">
                    </mat-form-field>
                </form>
            </mat-grid-tile>

        </mat-grid-list>       
    </mat-card>
    <!--end_header-->
    <div class="category_list top_51_space">
        <mat-card *ngFor="let categ of category">
            <h4 class="title_header">{{categ.title}}</h4>
            <div class="category_counter">
                <p><b>{{categ.totalAssets}}</b><span>Total Assets</span></p>
                <p><b>{{categ.totalChecklists}}</b><span>Checklists</span></p>
                <p><b>{{categ.totalDocuments}}</b><span>Documents</span></p>
                <p><b>{{categ.totalAssignedUsers}}</b><span>Assigned Users</span></p>
            </div>
            <div class="dfe btns"><button mat-button (click)="categoryDetail(categ.categoryId)">View</button></div>
        </mat-card>  
    </div>
</div> 