<div>
  <div class="dialog-toolbar">
    <p class="dialog-toolbar-title">{{isCurrentOperationEdit ? 'Edit Organization' : 'Add Organization'}}</p>
  </div>

  <div class="dialog-content-container">
    <form [formGroup]="organizationForm" (submit)="saveOrganization()">
      <div fxLayout="column">
        <mat-form-field fxFlex="100">
          <input matInput type="text" required placeholder="Organization Name" formControlName="organizationName">
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <textarea matInput type="text" required placeholder="About Organization"
            formControlName="organizationDescription" rows="4"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="dialog-actions" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign.gt-xs="end center">
    <button fxFlex.xs="100" mat-stroked-button i18n color="primary" (click)="onNoClick()">Cancel</button>
    <button fxFlex.xs="100" *ngIf="!isCurrentOperationEdit" mat-raised-button i18n color="primary" type="submit"
      [disabled]="!organizationForm.valid" (click)="addOrganization()">Add</button>
    <button fxFlex.xs="100" *ngIf="isCurrentOperationEdit" mat-raised-button i18n color="primary" type="submit"
      [disabled]="!organizationForm.valid" (click)="editOrganization()">Update</button>
  </div>
</div>