<div class="fl width_75 padding_box overflow_box checklist_list">
  <mat-list role="list">
      <mat-list-item role="listitem">
          <mat-grid-list cols="2" rowHeight="47px">
              <mat-grid-tile class="checklist_name">
                  <h4>Checklist1</h4>
              </mat-grid-tile>
              <mat-grid-tile class="btns">
                  <button mat-button>View</button>
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>
              </mat-grid-tile>
          </mat-grid-list>
      </mat-list-item>
      <mat-list-item role="listitem">
          <mat-grid-list cols="2" rowHeight="47px">
              <mat-grid-tile class="checklist_name">
                  <h4>Checklist1</h4>
              </mat-grid-tile>
              <mat-grid-tile class="btns">
                  <button mat-button>View</button>
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>  
              </mat-grid-tile>
          </mat-grid-list>
      </mat-list-item>
      <mat-list-item role="listitem">
          <mat-grid-list cols="2" rowHeight="47px">
              <mat-grid-tile class="checklist_name">
                  <h4>Checklist1</h4>
              </mat-grid-tile>
              <mat-grid-tile class="btns">
                  <button mat-button>View</button>
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>
              </mat-grid-tile>
          </mat-grid-list>
      </mat-list-item>
      <mat-list-item role="listitem">
          <mat-grid-list cols="2" rowHeight="47px">
              <mat-grid-tile class="checklist_name">
                  <h4>Checklist1</h4>
              </mat-grid-tile>
              <mat-grid-tile class="btns">
                  <button mat-button>View</button>
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>
              </mat-grid-tile>
          </mat-grid-list>
      </mat-list-item>
      <mat-list-item role="listitem">
          <mat-grid-list cols="2" rowHeight="47px">
              <mat-grid-tile class="checklist_name">
                  <h4>Checklist1</h4>
              </mat-grid-tile>
              <mat-grid-tile class="btns">
                  <button mat-button>View</button>
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>
              </mat-grid-tile>
          </mat-grid-list>
      </mat-list-item>
      <mat-list-item role="listitem">
          <mat-grid-list cols="2" rowHeight="47px">
              <mat-grid-tile class="checklist_name">
                  <h4>Checklist1</h4>
              </mat-grid-tile>
              <mat-grid-tile class="btns">
                  <button mat-button>View</button>
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>
              </mat-grid-tile>
          </mat-grid-list>
      </mat-list-item>
      <mat-list-item role="listitem">
          <mat-grid-list cols="2" rowHeight="47px">
              <mat-grid-tile class="checklist_name">
                  <h4>Checklist1</h4>
              </mat-grid-tile>
              <mat-grid-tile class="btns">
                  <button mat-button>View</button>
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>
              </mat-grid-tile>
          </mat-grid-list>
      </mat-list-item>
      <mat-list-item role="listitem">
          <mat-grid-list cols="2" rowHeight="47px">
              <mat-grid-tile class="checklist_name">
                  <h4>Checklist1</h4>
              </mat-grid-tile>
              <mat-grid-tile class="btns">
                  <button mat-button>View</button>
                  <button mat-button>Edit</button>
                  <button mat-button>Delete</button>
              </mat-grid-tile>
          </mat-grid-list>
      </mat-list-item>
  </mat-list>
</div>
