<div *ngIf="!showFirst" class="table">
  <div fxLayout="column">
    <div class="portal-widget">
      <div class="cl"></div>
      <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
        <p>No Record Found</p>
      </div>
      <ng-template #recordFound>
        <mat-table [dataSource]="paidDataSource">
          <ng-container matColumnDef="checkListTitle">
            <mat-header-cell fxLayoutAlign="start center" *matHeaderCellDef>Audit Title</mat-header-cell>
            <mat-cell fxLayoutAlign="start center" *matCellDef="let visit">{{ visit.checkListTitle }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="doneBy">
            <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Done By</mat-header-cell>
            <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.doneBy }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="doneOn">
            <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Done On</mat-header-cell>
            <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.doneOn }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
            <mat-cell (click)="$event.stopPropagation()" fxLayoutAlign="end center" *matCellDef="let visit">
              <div>
                <mat-menu #dailyPerformanceMenu="matMenu">
                  <a mat-menu-item (click)="viewQuestion(visit.doneChecklistId)">
                    <mat-icon matListIcon>visibility</mat-icon>
                    <span i18n>View Questions List</span>
                  </a>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                  <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
                </button>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="example-element-row" (click)="viewQuestion(row.doneChecklistId)"
            *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </ng-template>
      <div>
        <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<app-view-question *ngIf="showFirst"></app-view-question>