<div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="padding_box">
    <div fxFlex.xs="100" fxLayoutAlign="center center">
      <p class="page-title">Question List</p>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex.xs="100" class="example-button-row btn_style bg_white_grey">
        <button fxFlex.xs="100" mat-button (click)="addNewChecklistQuestion()" class="bg_white_grey btn_style">
          <mat-icon>add</mat-icon>Add New Question
        </button>
      </div>
      <div fxFlex.xs="100" class="example-button-row btn_style bg_white_grey">
        <button fxFlex.xs="100" mat-button (click)="reorderQuestions()" class="bg_white_grey btn_style">
          <mat-icon>import_export</mat-icon>Change Sequense
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
    <p>No Record Found</p>
  </div>
  <ng-template #recordFound>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="questionType">
        <mat-header-cell fxHide.xs fxLayoutAlign="start center" *matHeaderCellDef>Question Type</mat-header-cell>
        <mat-cell fxHide.xs fxLayoutAlign="start center" *matCellDef="let element">{{ element.questionType }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="questionDescription">
        <mat-header-cell fxLayoutAlign="center center" fxLayoutAlign.xs="start center" *matHeaderCellDef>Question
          Description</mat-header-cell>
        <mat-cell fxLayoutAlign="center center" fxLayoutAlign.xs="start center" *matCellDef="let element">
          {{ element.questionDescription }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="questionOptions">
        <mat-header-cell fxHide.xs fxLayoutAlign="center center" fxLayoutAlign.xs="start center" *matHeaderCellDef>
          Question Options</mat-header-cell>
        <mat-cell fxHide.xs fxLayoutAlign="center center" fxLayoutAlign.xs="start center" *matCellDef="let element">
          {{getQuestionOption(element.questionOptions) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
        <mat-cell (click)="$event.stopPropagation()" fxLayoutAlign="end center" *matCellDef="let element">
          <div>
            <mat-menu #dailyPerformanceMenu="matMenu">
              <a mat-menu-item (click)="navigateToQuestionDetails(element.questionId)">
                <mat-icon matListIcon>visibility</mat-icon>
                <span i18n>Question Details</span>
              </a>
              <a mat-menu-item (click)="editChecklistQuestion(element.questionId)">
                <mat-icon matListIcon>edit</mat-icon>
                <span i18n>Edit Question</span>
              </a>
              <a mat-menu-item (click)="deleteChecklistQuestion(element.questionId, element.questionDescription)">
                <mat-icon matListIcon>delete_outline</mat-icon>
                <span i18n>Delete Question</span>
              </a>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
              <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="example-element-row" (click)="navigateToQuestionDetails(element.questionId)"
        *matRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-template>
  <div>
    <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>