<div>
  <div class="flex_container padding_box align_center">
    <div class="width_50">
      <button mat-button (click)="addNewChecklistQuestion()" class="bg_white_grey btn_style">
        <mat-icon>add</mat-icon>Add New Question
      </button>
    </div>
  </div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="questionType">
      <mat-header-cell *matHeaderCellDef>Question Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.questionType }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="questionDescription">
      <mat-header-cell *matHeaderCellDef>Question Description</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.questionDescription }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef i18n>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <mat-menu #dailyPerformanceMenu="matMenu">
            <a mat-menu-item (click)="editChecklistQuestion()">
              <mat-icon matListIcon>edit</mat-icon>
              <span i18n>Edit Question</span>
            </a>
            <a mat-menu-item (click)="deleteChecklistQuestion(element.questionId, element.questionDescription)">
              <mat-icon matListIcon>delete_outline</mat-icon>
              <span i18n>Delete Question</span>
            </a>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
            <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div>
    <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
    </mat-paginator>
  </div>
</div>