<div fxLayout="column">
  <form fxLayout="column" #deptForm="ngForm" class="listing_space add_department">
    <div>
      <p class="title_header mat-subheading-2">{{formTitle}}</p>
    </div>
    <div fxLayout="row" fxFlex="100">
      <div fxLayout="column" fxFlex="100" class="deptformfield">
        <mat-form-field fxFlex="100" *ngIf="this.deptData.parentId!=0">
          <mat-select disabled name="parentId" id="parentId" [(ngModel)]="deptData.parentId" #department="ngModel"
            placeholder="Select Parent Department" required>
            <mat-option *ngFor="let dept of deptList" [value]="dept.departmentId">{{dept.departmentTitle}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="deptForm.submitted && department.invalid">
            <mat-error *ngIf="department.errors.required">Department name is required</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <input matInput name="departmentTitle" minlength="3" id="departmentTitle"
            [(ngModel)]="deptData.departmentTitle" #deptTitle="ngModel" type="text" required
            placeholder="Department Title">
          <mat-error *ngIf="deptForm.submitted && deptTitle.invalid">
            <mat-error *ngIf="deptTitle.errors?.required">Department Title is required</mat-error>
          </mat-error>
          <mat-error *ngIf="deptTitle.errors?.minlength">Please enter atleast 3 characters</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout.xs="column" fxLayoutAlign.gt-xs="end end" fxLayoutGap="10px">
      <button [mat-dialog-close]="cancelbtn" fxFlex.xs="100" mat-stroked-button i18n color="primary">Cancel</button>
      <button type="submit" fxFlex.xs="100" *ngIf="!isEdited" [color]="'success'" [disabled]="!deptForm.valid"
        (click)="addDept(deptForm.value)" mat-raised-button i18n color="primary">Save
        Department</button>
      <button type="submit" *ngIf="isEdited" [color]="'success'" [disabled]="!deptForm.valid"
        (click)="editDept(deptForm.value)" mat-raised-button i18n color="primary">Update
        Department</button>
    </div>
  </form>
</div>