<div class="innerbody table">
  <div fxLayout="column">
    <div class="portal-widget">
      <mat-card fxFlex.xs="90" fxFlex="98">
        <div fxLayout.xs="column" fxLayoutAlign.xs="space-around center" class="table_header">
          <div class="fl">
            <p class="tabel_heading mat-subheading-2">Suppliers List</p>
          </div>
          <div fxFlex.xs="100" class="fr">
            <div fxFlex.xs="100" class="btn_style">
              <button fxFlex.xs="100" mat-button (click)="addSupplier()" class="bg_white_grey">
                <mat-icon>add</mat-icon>Add Supplier
              </button>
            </div>
          </div>
        </div>
        <div class="cl"></div>
        <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
          <p>No Record Found</p>
        </div>
        <ng-template #recordFound>
          <mat-table [dataSource]="paidDataSource">
            <!-- <ng-container matColumnDef="supplierId">
            <mat-header-cell *matHeaderCellDef>Supplier Id</mat-header-cell>
            <mat-cell *matCellDef="let visit">{{ visit.supplierId }}</mat-cell> 
          </ng-container> -->
            <ng-container matColumnDef="supplierName">
              <mat-header-cell fxLayoutAlign.xs="center center" *matHeaderCellDef>Supplier Name</mat-header-cell>
              <mat-cell fxLayoutAlign.xs="center center" *matCellDef="let visit">
                {{ visit.firstName+' '+visit.lastName }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="businessName">
              <mat-header-cell fxHide.xs *matHeaderCellDef>Business Name</mat-header-cell>
              <mat-cell fxHide.xs *matCellDef="let visit">{{ visit.businessName }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="mobileNumber">
              <mat-header-cell fxLayoutAlign.xs="center center" *matHeaderCellDef>Mobile Number</mat-header-cell>
              <mat-cell fxLayoutAlign.xs="center center" *matCellDef="let visit">{{ visit.mobileNumber }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="emailId">
              <mat-header-cell fxHide.xs *matHeaderCellDef>Email Id</mat-header-cell>
              <mat-cell fxHide.xs *matCellDef="let visit">{{ visit.emailId }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Actions">
              <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
              <mat-cell fxLayoutAlign="end center" *matCellDef="let visit">
                <div>
                  <mat-menu #dailyPerformanceMenu="matMenu">

                    <a mat-menu-item (click)="editSupplier(visit)">
                      <mat-icon matListIcon>edit</mat-icon>
                      <span i18n>Edit Supplier</span>
                    </a>
                    <a mat-menu-item (click)="deleteSupplier(visit.supplierId,visit.firstName)">
                      <mat-icon matListIcon>delete_outline</mat-icon>
                      <span i18n>Delete Supplier</span>
                    </a>
                  </mat-menu>
                  <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                    <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </ng-template>
        <div>
          <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
          </mat-paginator>
        </div>
      </mat-card>
    </div>
  </div>
</div>