<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <mat-toolbar-row [ngClass]="{'superadmin-toolbar': isCurrentUserSuperAdmin()}" fxHide.lt-sm="true"
      class="toolbar-row-1" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div title="Dashboard" (click)="navigateToDashboard()" [ngStyle]="{
          'background-image': 'url('+'assets/img/logo.png'+')',
          'background-size': 'contain',
          'background-position': 'center center',
          'background-repeat': 'no-repeat',
          'margin-left': '20px',
          'width':'220px',
          'height':'55px',
          'cursor':'pointer'
        }">
        </div>
        <div *ngIf="isCurrentUserSuperAdmin()" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <div>
            <a mat-button routerLink="/dashboard/superadmin" routerLinkActive="is-active-super-route" fxLayout="row"
              fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-icon color="primary">assessment</mat-icon>&nbsp;&nbsp;<span i18n class="item-toolbar">SYSTEM
                DASHBOARD</span>
            </a>
          </div>
          <div>
            <a mat-button routerLink="/superadmin/organization" routerLinkActive="is-active-super-route" fxLayout="row"
              fxLayoutAlign="start center">
              <mat-icon color="primary">apartment</mat-icon>&nbsp;&nbsp;<span i18n
                class="item-toolbar">ORGANIZATIONS</span>
            </a>
          </div>
          <div>
            <a mat-button routerLink="/superadmin/sys-admins" routerLinkActive="is-active-super-route" fxLayout="row"
              fxLayoutAlign="start center">
              <mat-icon color="primary">supervised_user_circle</mat-icon>&nbsp;&nbsp;<span i18n
                class="item-toolbar">ADMINS</span>
            </a>
          </div>
          <div>
            <a mat-button (click)="chooseOrganizationAndNavigate()" routerLinkActive="is-active-super-route"
              fxLayout="row" fxLayoutAlign="start center">
              <mat-icon color="primary">developer_board</mat-icon>&nbsp;&nbsp;<span i18n class="item-toolbar">MANAGE
                ORGANIZATIONS</span>
            </a>
          </div>
        </div>
      </div>
      <div class="toolbar-menu" fxLayout="row" fxLayoutAlign="center">
        <div class="admin_profile">
          <img src="assets/img/user.png" alt="user image">
        </div>
        <div class="admin_name">
          <b>{{displayName}}</b><br>
          {{displayOrg}}
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="!isCurrentUserSuperAdmin()" mat-menu-item (click)="goToProfile()">
            <mat-icon>person</mat-icon>
            <span>View Profile</span>
          </button>
          <button *ngIf="!isCurrentUserSuperAdmin()" mat-menu-item (click)="goToChangePass()">
            <mat-icon>lock_open</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row fxHide.gt-xs="true" class="toolbar-row-1-mobile" fxLayout="row">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
        <button fxHide.gt-xs="true" mat-icon-button (click)="snav.toggle()">
          <mat-icon color="primary">menu</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="80">
        <img src="assets/img/logo.png" width="170px" height="50px" alt="brigs logo" style="padding-right: 20px;">
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="!isSuperadminNavigating" class="toolbar-row-2" fxHide.lt-sm="true" fxLayout="row"
      fxLayoutAlign="space-between center">
      <div>
        <a mat-button [routerLink]="getDashboardRoute()" routerLinkActive="is-active">
          <mat-icon>bar_chart</mat-icon><span i18n>DASHBOARD</span>
        </a>
        <a mat-button routerLink="/assetmate" routerLinkActive="is-active">
          <mat-icon>assignment</mat-icon><span i18n>Assetmate</span>
        </a>
        <a mat-button routerLink="/documate" routerLinkActive="is-active">
          <mat-icon>list_alt</mat-icon><span i18n>Documate</span>
        </a>
        <a mat-button routerLink="/taskmate" routerLinkActive="is-active">
          <mat-icon>work</mat-icon><span i18n>Taskmate</span>
        </a>
        <a mat-button routerLink="/alert" routerLinkActive="is-active">
          <mat-icon>notification_important</mat-icon><span i18n>Alerts</span>
        </a>
        <a mat-button routerLink="/complaints" routerLinkActive="is-active">
          <mat-icon>menu_book</mat-icon><span i18n>Complaint</span>
        </a>
        <a mat-button routerLink="/reports" routerLinkActive="is-active">
          <mat-icon>style</mat-icon><span i18n>Reports</span>
        </a>
        <a mat-button [matMenuTriggerFor]="appsMenu">
          <mat-icon>settings_applications</mat-icon><span i18n>Settings</span>
        </a>
        <mat-menu #appsMenu="matMenu" yPosition="below" [overlapTrigger]="false">
          <a mat-menu-item routerLink="/user-role">
            <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
            <span i18n>User Role</span>
          </a>
          <a mat-menu-item routerLink="/supplier">
            <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
            <span i18n>Supplier</span>
          </a>
          <a mat-menu-item routerLink="/manufacturer">
            <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
            <span i18n>Manufacturer</span>
          </a>
          <a mat-menu-item routerLink="/department">
            <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
            <span i18n>Department</span>
          </a>
          <a mat-menu-item routerLink="/user/user-list">
            <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
            <span i18n>User</span>
          </a>
          <a mat-menu-item routerLink="/asset-category">
            <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
            <span i18n>Asset-Category</span>
          </a>
          <a mat-menu-item routerLink="/location-type">
            <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
            <span i18n>Asset Installation Location</span>
          </a>
          <a mat-menu-item routerLink="/verify-asset">
            <mat-icon matListIcon>subdirectory_arrow_right</mat-icon>
            <span i18n>Verify Pending Assets</span>
          </a>
        </mat-menu>
      </div>
      <div fxLayout="row">
        <div class="org-title-key">Organization : </div>
        <div class="org-title-value">{{getOrganizationNameMangingBySuperAdmin()}}</div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav class="example-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>

        <!-- SuperAdmin Dashboard Routes -->
        <div *ngIf="isCurrentUserSuperAdmin()">
          <a mat-list-item routerLink="/dashboard/superadmin" routerLinkActive="is-active-super-route" fxLayout="row"
            fxLayoutAlign="start center" fxLayoutGap="10px" (click)="snav.toggle()">
            <mat-icon color="primary">assessment</mat-icon>&nbsp;&nbsp;<span i18n>Sysytem
              Dashboard</span>
          </a>
          <a mat-list-item routerLink="/superadmin/organization" routerLinkActive="is-active-super-route" fxLayout="row"
            fxLayoutAlign="start center" (click)="snav.toggle()">
            <mat-icon color="primary">apartment</mat-icon>&nbsp;&nbsp;<span i18n>Organization</span>
          </a>
          <a mat-list-item routerLink="/superadmin/sys-admins" routerLinkActive="is-active-super-route" fxLayout="row"
            fxLayoutAlign="start center" (click)="snav.toggle()">
            <mat-icon color="primary">supervised_user_circle</mat-icon>&nbsp;&nbsp;<span i18n>Admins</span>
          </a>
          <a mat-list-item (click)="chooseOrganizationAndNavigate()" routerLinkActive="is-active-super-route"
            fxLayout="row" fxLayoutAlign="start center" (click)="snav.toggle()">
            <mat-icon color="primary">developer_board</mat-icon>&nbsp;&nbsp;<span i18n>Manage
              Organizations</span>
          </a>
        </div>

        <!-- Admin Dashboard Routes -->
        <div *ngIf="!isSuperadminNavigating">
          <a *ngIf="!isCurrentUserSuperAdmin()" mat-list-item routerLink="/profile" routerLinkActive="is-active-mobile"
            (click)="snav.toggle()">
            <mat-icon color="primary">person</mat-icon><span i18n>&nbsp; My Profile</span>
          </a>
          <a mat-list-item routerLink="/dashboard" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
            <mat-icon color="primary">bar_chart</mat-icon><span i18n>&nbsp; Dashboard</span>
          </a>
          <a mat-list-item routerLink="/assetmate" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
            <mat-icon color="primary">assignment</mat-icon><span i18n>&nbsp; Assetmate</span>
          </a>
          <a mat-list-item routerLink="/documate" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
            <mat-icon color="primary">list_alt</mat-icon><span i18n>&nbsp; Documate</span>
          </a>
          <a mat-list-item routerLink="/taskmate" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
            <mat-icon color="primary">work</mat-icon><span i18n>&nbsp;Taskmate</span>
          </a>
          <a mat-list-item routerLink="/alert" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
            <mat-icon color="primary">notification_important</mat-icon><span i18n>&nbsp; Alerts</span>
          </a>
          <a mat-list-item routerLink="/complaints" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
            <mat-icon color="primary">menu_book</mat-icon><span i18n>&nbsp; Complaint</span>
          </a>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true">
              <mat-expansion-panel-header>
                <div>
                  <a mat-list-item>
                    <mat-icon color="primary">settings_applications</mat-icon>&nbsp;&nbsp;Settings
                  </a>
                </div>
              </mat-expansion-panel-header>
              <a mat-menu-item routerLink="/user-role" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
                <mat-icon color="primary" matListIcon>subdirectory_arrow_right</mat-icon>
                <span i18n>User Role</span>
              </a>
              <a mat-menu-item routerLink="/supplier" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
                <mat-icon color="primary" matListIcon>subdirectory_arrow_right</mat-icon>
                <span i18n>Supplier</span>
              </a>
              <a mat-menu-item routerLink="/manufacturer" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
                <mat-icon color="primary" matListIcon>subdirectory_arrow_right</mat-icon>
                <span i18n>Manufacturer</span>
              </a>
              <a mat-menu-item routerLink="/department" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
                <mat-icon color="primary" matListIcon>subdirectory_arrow_right</mat-icon>
                <span i18n>Department</span>
              </a>
              <a mat-menu-item routerLink="/user/user-list" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
                <mat-icon color="primary" matListIcon>subdirectory_arrow_right</mat-icon>
                <span i18n>User</span>
              </a>
              <a mat-menu-item routerLink="/asset-category" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
                <mat-icon color="primary" matListIcon>subdirectory_arrow_right</mat-icon>
                <span i18n>Asset-Category</span>
              </a>
              <a mat-menu-item routerLink="/location-type" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
                <mat-icon color="primary" matListIcon>subdirectory_arrow_right</mat-icon>
                <span i18n>Asset Installation Location</span>
              </a>
              <a mat-menu-item routerLink="/verify-asset" routerLinkActive="is-active-mobile" (click)="snav.toggle()">
                <mat-icon color="primary" matListIcon>subdirectory_arrow_right</mat-icon>
                <span i18n>Verify Pending Assets</span>
              </a>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Logout -->
        <a mat-list-item (click)="snav.toggle(); logout()">
          <mat-icon color="primary">input</mat-icon><span i18n>&nbsp; Logout</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>