.dialog-container{
    padding: 5px;;
}

.dialog-title-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mat-dialog-custom-title{
    font-size: 25px;
    font-weight: 600;
}

.mat-dialog-custom-content{
    padding: 20px 0px;
}

.mat-dialog-custom-action{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.mat-dialog-action-btn{
    margin-left: 10px;
}

mat-icon{
    cursor: pointer;
}