<div fxLayout.xs="column" fxLayoutGap="30px" class="innerpage assets_view padding_container flex_container margin_auto">
  <app-department-filter (messageEvent)="receiveMessage($event)"></app-department-filter>
  <mat-card fxFlex.xs="100" fxFlex="100">
    <div class="table">
      <div fxLayout.xs="column" fxLayoutGap="33px" fxLayoutGap.xs="13px">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center">
          <div fxFlex.xs="100">
            <p class="page-title">Users {{ DepartmentObj}}</p>
          </div>
          <div fxLayout="row" fxFlex.xs="100">
            <form fxFlex.xs="100" class="filter_search">
              <mat-form-field fxFlex.xs="100">
                <input matInput (keyup)="searchUser($event.target.value)" placeholder="Search">
              </mat-form-field>
            </form>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign.gt-xs="end center">
          <div fxFlex.xs="100" class="btn_style">
            <button fxFlex.xs="100" mat-button (click)="addUser()" class="bg_white_grey">
              <mat-icon>add</mat-icon>Add User
            </button>
          </div>
        </div>
        <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
          <p>No Record Found</p>
        </div>
        <ng-template #recordFound>
          <mat-table [dataSource]="paidDataSource">
            <ng-container matColumnDef="userName">
              <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef i18n>User Name </mat-header-cell>
              <mat-cell fxLayoutAlign="center center" *matCellDef="let visit">
                {{visit.firstName+' '+visit.lastName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="profileImage">
              <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Profile Image</mat-header-cell>
              <mat-cell fxLayoutAlign="center center" *matCellDef="let visit">
                <div
                  (click)="$event.stopPropagation(); priviewImage( visit.firstName+' '+visit.lastName, visit.profileImage)"
                  [ngStyle]="{
                      'background-image': 'url(' + visit.profileImage + ')', 
                      'background-size': 'contain',
                      'background-position': 'center center', 
                      'background-repeat': 'no-repeat',  
                      'width':'80px', 
                      'height':'80px'}"></div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="userRole">
              <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>User Role
              </mat-header-cell>
              <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.userRole }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mobileNumber">
              <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Mobile Number</mat-header-cell>
              <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.mobileNumber }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="emailId">
              <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Email Id</mat-header-cell>
              <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">
                {{ visit.emailId.length>18?visit.emailId.substring(0,18)+'...':visit.emailId }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="activateuser">
              <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Activate/De-activate
              </mat-header-cell>
              <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit;let i=index">
                <mat-slide-toggle color="primary" [checked]="visit.isActive"
                  (change)="activateUser(visit.userId,$event,i)"></mat-slide-toggle>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
              <mat-cell fxLayoutAlign="end center" *matCellDef="let visit">
                <div>
                  <mat-menu #dailyPerformanceMenu="matMenu">
                    <a mat-menu-item (click)="editUser(visit)">
                      <mat-icon matListIcon>edit</mat-icon>
                      <span i18n>Edit User</span>
                    </a>
                    <a mat-menu-item (click)="deleteUser(visit.userId,visit.firstName,visit.lastName)">
                      <mat-icon matListIcon>delete_outline</mat-icon>
                      <span i18n>Delete User</span>
                    </a>
                  </mat-menu>
                  <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                    <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </ng-template>
        <div>
          <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </mat-card>
</div>