<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#7e71b1" type="line-spin-fade-rotating"></ngx-spinner>
<div class="flex_container padding_box align_center">
    <div class="width_50">
        <button mat-button (click)="addAsset()" class="bg_white_grey btn_style">
                            <mat-icon>add</mat-icon>Add Asset
                        </button>
    </div>
    <div class="width_50 dfe">
        <form class="example-form filter_search">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search" value="Bsnl">
            </mat-form-field>
        </form>
    </div>
</div> 
<mat-card *ngFor="let checklist of checklistData">
    <div class="flex_container listing">
        <div class="checklist_name width_40">
            <h4>{{checklist.checklistTitle}}</h4>
        </div>
        <div class="width_30">
            <p><b>{{checklist.totalQuestions}}</b><span>Total Assets</span></p>
        </div>
        <div class="btns width_30 dfe">
            <button mat-button>View</button>
            <button mat-button>Edit</button>
            <button mat-button>Delete</button>
        </div>
    </div>
</mat-card> -->

<div *ngIf="!showFirst" class="table">
    <div fxLayout="column" fxLayout.md="row" fxLayout.lg="row" fxLayoutGap="16px">
        <div class="portal-widget checklist_list" fxFlex="1 0 auto" fxFlex.gt-sm="70">
            <div class="flex_container padding_box align_center">
                <div class="width_50">
                    <button mat-button (click)="addChecklist()" class="bg_white_grey btn_style">
                        <mat-icon>add</mat-icon>Add Checklist
                    </button>
                </div>
                <div class="width_50 dfe">
                    <form class="example-form filter_search">
                        <mat-form-field class="example-full-width">
                            <input matInput (keyup)="searchChecklist($event.target.value)" placeholder="Search">
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="cl"></div>
            <mat-card *ngFor="let checklist of checklistData">
                <div class="flex_container listing">
                    <div class="checklist_name width_40">
                        <h4>{{checklist.title}}</h4>
                    </div>
                    <div class="width_30">
                        <p><b>{{checklist.totalQuestions}}</b><span>Total Questions</span></p>
                    </div>
                    <div class="btns width_30 dfe">
                        <button mat-button
                            (click)="navigateToChecklistQuestionView(checklist.checklistId)">View</button>
                        <button mat-button (click)="editChecklist(checklist)">Edit</button>
                        <button mat-button
                            (click)="deleteChecklist(checklist.checklistId, checklist.title)">Delete</button>
                    </div>
                </div>
            </mat-card>

        </div>
    </div>
</div>
<app-checklist-add *ngIf="showFirst"></app-checklist-add>