<div *ngIf="!showFirst" class="table" fxLayout="column" fxFlex="100">
    <div fxLayout="column">
        <div class="portal-widget checklist_list">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="padding_box">
                <button fxFlex.xs="100" mat-button (click)="addChecklist()" class="bg_white_grey btn_style">
                    <mat-icon>add</mat-icon>Add Checklist
                </button>
                <form class="example-form filter_search" fxFlex.xs="100">
                    <mat-form-field class="example-full-width" fxFlex.xs="100">
                        <input matInput (keyup)="searchChecklist($event.target.value)" placeholder="Search">
                    </mat-form-field>
                </form>
            </div>
            <mat-card *ngFor="let checklist of checklistData">
                <div class="listing" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="20px">
                    <div class="checklist_name" fxFlex="60" fxFlex.sm="50" fxFlex.xs="100">
                        <h4>{{checklist.title}}</h4>
                    </div>
                    <div fxFlex="20" fxFlex.sm="30" fxFlex.xs="100">
                        <p><b>{{checklist.totalQuestions}}</b><span>Total Questions</span></p>
                    </div>
                    <div class="btns" fxFlex="20" fxFlex.xs="100" fxLayoutAlign.gt-xs="end center">
                        <button mat-button
                            (click)="navigateToChecklistQuestionView(checklist.checklistId)">View</button>
                        <button mat-button (click)="editChecklist(checklist)">Edit</button>
                        <button mat-button
                            (click)="deleteChecklist(checklist.checklistId, checklist.title)">Delete</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="showFirst" fxLayout="column" fxFlex="100">
    <app-checklist-add></app-checklist-add>
</div>