.organization-item{
    padding: 20px 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 15px;
    cursor: pointer;
}

.organization-item:hover{
    background-color: #eeeeee91;
}

.org-title{
    font-size:25px;
    margin-bottom: 10px;
}

.org-sub-title{
    font-size:15px;
    color: #9b9b9b;
}