<div fxLayout="column">
  <div fxLayoutAlign="start center">
    <div>
      <p class="page-title">{{formTitle}}</p>
    </div>
  </div>
  <div fxLayout="row" fxFlex="100">
    <form fxLayout="column" fxFlex="100" #installlocationform="ngForm">
      <mat-form-field fxFlex="100" fxFlex.xs="100">
        <input matInput name="installationLocationName" id="
          installationLocationName" [(ngModel)]="installationLocType" #FirstName="ngModel" type="text" required
          placeholder="Installation Location Type ">
        <mat-error *ngIf="installlocationform.submitted && FirstName.invalid">
          <mat-error *ngIf="FirstName.errors.required">InstallationLocation Title is required</mat-error>
        </mat-error>
      </mat-form-field>
      <div>
        <div class="guideline">
          <div class="guideline-title">
            Guideline
          </div>
          <div class="guideline-text">
            <ul>
              <li>Installation location type will be asked during add asset</li>
              <li>Installation location type can be office/store/3rd Floor etc.</li>
            </ul>
          </div>
        </div>
      </div>
      <div fxLayoutGap="10px" fxLayout.xs="column" fxLayoutAlign.gt-xs="end center">
        <button [mat-dialog-close]="cancelbtn" fxFlex.xs="100" mat-stroked-button i18n color="primary">Cancel</button>
        <button *ngIf="!isEdited" [color]="'success'" mat-raised-button i18n color="primary"
          [disabled]="!installlocationform.valid"
          [matTooltip]="!installlocationform.valid ? 'You must complete all the required fields.' : null" type="submit"
          (click)="addInstallationLocation(installlocationform.value)">Add</button>
        <button *ngIf="isEdited" [color]="'success'" mat-raised-button i18n color="primary" type="submit"
          [disabled]="!installlocationform.valid" (click)="editInstallationLocation(installlocationform.value)">Update
        </button>
      </div>
    </form>
  </div>
</div>