<div fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="padding_box">
    <div fxFlex.xs="100" fxLayoutAlign="center center">
      <p class="page-title">Question Details</p>
    </div>
    <div fxFlex.xs="100" class="example-button-row btn_style bg_white_grey">
      <button fxFlex.xs="100" mat-button (click)="backToListChecklistQuestionList()">
        <mat-icon>list</mat-icon> Question Lists
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="row">
      <div fxLayout="column">
        <h4 class=" mat-h4 db ">Question Description</h4>
        <span>{{questionDetails.questionDescription}}</span>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="30px">
      <div fxLayout="column" fxFlex="50">
        <h4 class=" mat-h4 db ">Question Type</h4>
        <span>{{questionDetails.questionType}}</span>
      </div>
      <div fxLayout="column" fxFlex="50">
        <h4 class=" mat-h4 db ">Is Compulsory</h4>
        <span>{{questionDetails.isCompulsory == 1 ? 'Yes' : 'No'}}</span>
      </div>
    </div>
    <div fxLayout="row" *ngIf="areOptionsAvailaableForQuestion()">
      <div fxLayout="column" fxFlex="50" fxFlex.xs="100">
        <h4 class=" mat-h4 db ">Question Options</h4>
        <div *ngFor="let option of questionDetails.questionOptions; let i = index;">
          <div class="option-container" fxLayout.xs="column" fxLayoutGap.xs="20px">
            <div class="option-row" fxFlex.xs="100" fxLayout.xs="column" fxLayoutGap.xs="20px">
              <span>{{i+1 +'. '+ option.optionTitle}}</span>
              <div>
                <span *ngIf="option.hasLinkedQuestion == 1 ? false : true">
                  <button mat-stroked-button color="primary"
                    (click)="navigateToLinkQuestion(option.questionOptionId)">Link New
                    Question</button>
                </span>
              </div>
            </div>
            <div fxFlex.xs="100" *ngIf="option.hasLinkedQuestion == 1 ? true : false" class="linked-question-container">
              <div class="linked-question-title-container">
                <h4 class=" mat-h4 db ">Linked Question</h4>
                <mat-icon class="icon-material" matTooltip="Edit linked question"
                  (click)="editLinkedQuestion(option.linkedQuestion.questionId)">edit</mat-icon>
              </div>
              <span>{{option.linkedQuestion.questionDescription}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>