<div fxLayout="row" class="margin_auto" fxLayoutAlign="space-evenly start">
  <app-filter-category fxFlex="15" fxHide.lt-md="true"></app-filter-category>
  <mat-card fxFlex="80" fxFlex.lt-md="95">
    <div class="innerpage_title">
      <div class="header_title flex_container">
        <div>
          <button mat-button (click)="backToList()" class="back btn_style round_squer bg_pink_navy text_white">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
        <div class="width_75">
          <p class="title_header mat-subheading-2 tal">{{checklistPrimaryInfo.title}}</p>
        </div>
        <div class="dfe add_action" style="width:19.5%">
        </div>
      </div>
      <div>
        <div class="fl total">
          <p><span>Total Questions</span> &nbsp; <b>{{checklistPrimaryInfo.totalQuestions}}</b></p>
        </div>
        <div class="fl total">
          <p><span>Checking Duration</span> &nbsp;
            <b>{{checklistPrimaryInfo.checkingDuration +' '+ checklistPrimaryInfo.durationType}}</b></p>
        </div>
        <div class="fl total">
          <p><span>Category</span> &nbsp;<b>{{checklistPrimaryInfo.categoryTitle}}</b></p>
        </div>
      </div>
      <div class="cl"></div>
    </div>
    <div class="asset_view_detail">
      <mat-tab-group>
        <mat-tab label="Questions">
          <router-outlet></router-outlet>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</div>