<div fxLayout="column" fxFlex="100" class="form">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="fl">
      <p class="page-title">{{formTitle}}</p>
    </div>
  </div>
  <form fxLayout="column" #roleform="ngForm" novalidate>
    <div>
      <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap.gt-xs="30px">
        <mat-form-field fxFlex.xs="100">
          <input matInput name="title" id="title" pattern="[a-zA-Z ]*" minlength="3" [(ngModel)]="roleData.title"
            #roleTitle="ngModel" type="text" required placeholder="Title">
          <mat-error *ngIf="roleform.submitted && roleTitle.invalid">
            <mat-error *ngIf="roleTitle.errors.required">Role Title is required</mat-error>
          </mat-error>
          <mat-error *ngIf="roleTitle.errors?.minlength">
            Title length Must be atleast 3!
          </mat-error>
        </mat-form-field>
        <div fxLayout="column" fxLayoutGap="25px" class="md-form">
          <div>
            <mat-checkbox color="primary" [checked]="selectAll" (change)="chkAllChange($event)" type="checkbox"
              class="select_all">Select all
            </mat-checkbox>
          </div>
          <div fxLayout="column" fxLayoutGap="10px">
            <div *ngFor="let unit of featureList; let i=index">
              <mat-checkbox color="primary" [checked]="unit.isChecked" (change)="valueChange(i,$event)">
                {{ unit.purpose  + ' ' + '(' + unit.featureCode + ')' }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout.xs="column" fxLayoutAlign.gt-xs="end end" fxLayoutGap="10px" class="savebtn">
      <button [mat-dialog-close]="cancelbtn" fxFlex.xs="100" mat-stroked-button i18n color="primary">Cancel</button>
      <button *ngIf="!isEdited && uploadingLoader == false" [color]="'success'" mat-raised-button i18n
        [disabled]="!roleform.valid" color="primary"
        [matTooltip]="!roleform.valid ? 'You must complete all the required fields.' : null" type="submit"
        (click)="addRole(roleform.value)">Save User Role</button>
      <button *ngIf="isEdited && uploadingLoader == false" [color]="'success'" [disabled]="!roleform.valid"
        mat-raised-button i18n color="primary" type="submit" (click)="editRole(roleform.value)">Update User
        Role</button>
    </div>
  </form>
</div>