<div class="innerbody form ">
  <div fxLayout="column" fxLayout.md="row" fxLayout.lg="row" fxLayoutGap="16px">
    <div class="portal-widget" fxFlex="1 0 auto" fxFlex.gt-sm="70">
      <mat-card>
        <div class="form_header">
          <div class="fl">
            <p class="form_heading mat-subheading-2 fl">{{formTitle}}</p>
            <button mat-button (click)="backToList()" matTooltip="Back to User Roles List"
              class="back btn_style round_squer bg_pink_navy text_white">
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
          </div>
          <div class="fr">
            <!-- <div *ngIf="!isEdited" class="example-button-row btn_style bg_white_grey">
              <button mat-button (click)="backToList()">
                <mat-icon>list</mat-icon> User role Lists
              </button>
            </div> -->
          </div>
        </div>
        <div class="cl"></div>
        <div mat-dialog-content>
          <form #roleform="ngForm" fxLayout="column" novalidate>
            <mat-grid-list cols="3" rowHeight="1:0.15">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field fxFlex>
                  <input matInput name="title" id="title" pattern="[a-zA-Z ]*" minlength="3" [(ngModel)]="roleData.title" 
                    #roleTitle="ngModel" type="text" required placeholder="Title">
                  <mat-error *ngIf="roleform.submitted && roleTitle.invalid">
                    <mat-error *ngIf="roleTitle.errors.required">Role Title is required</mat-error>
                  </mat-error>
                  <mat-error *ngIf="roleTitle.errors?.minlength"> 
                    Title length Must be atleast 3!
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
            <div class="cl"></div>
            <div class="savebtn">
              <button *ngIf="!isEdited && uploadingLoader == false" [color]="'success'" mat-raised-button i18n
                [disabled]="!roleform.valid" color="primary"
                [matTooltip]="!roleform.valid ? 'You must complete all the required fields.' : null" type="submit"
                (click)="addRole(roleform.value)">Save User Role</button>
              <button *ngIf="isEdited && uploadingLoader == false" [color]="'success'" [disabled]="!roleform.valid"
                mat-raised-button i18n color="primary" type="submit" (click)="editRole(roleform.value)">Update User 
                Role</button>
              <span *ngIf="uploadingLoader == true">
                <i class="fa fa-spinner fa-spin loadspiner" style="font-size:38px;color:#00aec5"></i>
              </span>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>