<div class="width_90 margin_auto">
  <mat-card>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
      <div fxFlex="20" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/asset_icon.svg" alt="" srcset=""></li>
            <li class="dash-text-color">Total Assetmate</li>
            <li>
              <h2 class="count">{{rows.totalAssetMate}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><button mat-button color="primary" routerLink="/assetmate" class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
      <div class="verticle-divider" fxHide.lt-sm="true">
      </div>
      <div fxFlex="20" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/doc_icon.svg" alt="" srcset=""></li>
            <li>Total Documate</li>
            <li>
              <h2 class="count">{{rows.totalDocuMate}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><button mat-button routerLink="/documate" color="primary" class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
      <div class="verticle-divider" fxHide.lt-sm="true">
      </div>
      <div fxFlex="20" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/task_icon.svg" alt="" srcset=""></li>
            <li>Total Taskmate</li>
            <li>
              <h2 class="count">{{rows.totalTaskMate}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><button mat-button routerLink="/taskmate" color="primary" class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
      <div class="verticle-divider" fxHide.lt-sm="true">
      </div>
      <div fxFlex="20" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/complint_icon.svg" alt="" srcset=""></li>
            <li>Total Complaints</li>
            <li>
              <h2 class="count">{{rows.totalComplaints}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><button mat-button routerLink="/complaints" color="primary" class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="graph-m-t" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-around"
    fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div fxFlex.xs="50" fxFlex="50">
      <mat-card>
        <div fxLayout="column" *ngIf="data">
          <div fxLayout="row" fxLayoutAlign="center center">
            <p class="graph-font">{{MonthlyAssetTitle}}-Year ({{assetselectedyear}})</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="end end">
            <button class="fab-btn-dashboard" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item
                (click)="printGraph('monthlyasset', MonthlyAssetTitle +' - Year'+' ('+assetselectedyear+')')">
                <mat-icon>print</mat-icon>
                <span>Print</span>
              </button>
            </mat-menu>
            <mat-form-field fxFlex.xs="50">
              <mat-select [(value)]="assetsdefaultyear" (selectionChange)="selectedYearAssets($event.value)" name="year"
                id="year" placeholder="Select Year">
                <mat-option *ngFor="let yr of years" [value]="yr.Id">
                  {{yr.data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <canvas id="monthlyasset" width="40" height="20"></canvas>
        </div>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <div fxLayout="column" *ngIf="data1">
          <div fxLayout="row" fxLayoutAlign="center center">
            <p class="graph-font">{{MonthlyComplaintsTitle}}-Year ({{complaintselectedyear}})</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="end end">
            <button class="fab-btn-dashboard" mat-icon-button [matMenuTriggerFor]="menu1">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu1="matMenu">
              <button mat-menu-item
                (click)="printGraph('monthlycomplaints', MonthlyComplaintsTitle +' - Year'+' ('+complaintselectedyear+')')">
                <mat-icon>print</mat-icon>
                <span>Print</span>
              </button>
            </mat-menu>
            <mat-form-field fxFlex.xs="50">
              <mat-select [(value)]="complaintdefaultyear" (selectionChange)="selectedYearComplaint($event.value)"
                name="year" id="year" placeholder="Select Year">
                <mat-option *ngFor="let yr of years" [value]="yr.Id">
                  {{yr.data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <canvas id="monthlycomplaints" width="40" height="20"></canvas>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="graph-m-t" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-around"
    fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <button class="fab-btn-dashboard" mat-icon-button [matMenuTriggerFor]="menu2">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="printGraph('CatAsset', CategoryAssetTitle)">
            <mat-icon>print</mat-icon>
            <span>Print</span>
          </button>
        </mat-menu>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data2">
          <p class="graph-font">{{CategoryAssetTitle}}</p>
          <canvas id="CatAsset" width="40" height="20"></canvas>
        </div>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <button class="fab-btn-dashboard" mat-icon-button [matMenuTriggerFor]="menu3">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item (click)="printGraph('Pendingmaintainance', CategoryMaintainanceTitle)">
            <mat-icon>print</mat-icon>
            <span>Print</span>
          </button>
        </mat-menu>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data3">
          <p class="graph-font">{{CategoryMaintainanceTitle}}</p>
          <canvas id="Pendingmaintainance" width="40" height="20"></canvas>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="graph-m-t" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-around"
    fxLayoutAlign="center center" fxLayoutGap="30px">
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <button class="fab-btn-dashboard" mat-icon-button [matMenuTriggerFor]="menu4">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu4="matMenu">
          <button mat-menu-item (click)="printGraph('installationlocation', InstallLocAssetTitle)">
            <mat-icon>print</mat-icon>
            <span>Print</span>
          </button>
        </mat-menu>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data4">
          <p class="graph-font">{{InstallLocAssetTitle}}</p>
          <canvas id="installationlocation" width="40" height="20"></canvas>
        </div>
      </mat-card>
    </div>
  </div>
</div>