<mat-card class="width_90 margin_auto dashboard">
  <mat-list>
    <mat-list-item>
      <div class="dashboard_part">
        <ul>
          <li><img src="../assets/img/asset_icon.svg" alt="" srcset=""></li>
          <li>Total Assetmate</li>
          <li>
            <h2 class="count">{{rows.totalAssetMate}}</h2>
          </li>
        </ul>
      </div>
      <div class="cl"></div><br> <button mat-button color="primary"  class="fr">More Info<mat-icon>keyboard_arrow_right
        </mat-icon></button>
    </mat-list-item> 
    <mat-list-item>
      <div class="dashboard_part">
        <ul>
          <li><img src="../assets/img/doc_icon.svg" alt="" srcset=""></li>
          <li>Total Documate</li>
          <li>
            <h2 class="count">{{rows.totalDocuMate}}</h2>
          </li>
        </ul>
      </div>
      <div class="cl"></div><br><button mat-button color="primary" class="fr">More Info <mat-icon>keyboard_arrow_right
        </mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <div class="dashboard_part">
        <ul>
          <li><img src="../assets/img/task_icon.svg" alt="" srcset=""></li>
          <li>Total Taskmate</li>
          <li>
            <h2 class="count">55</h2>
          </li>
        </ul>
      </div>
      <div class="cl"></div><br> <button mat-button color="primary" class="fr">Primary <mat-icon>keyboard_arrow_right
        </mat-icon></button>
    </mat-list-item>
    <mat-list-item>
      <div class="dashboard_part">
        <ul>
          <li><img src="../assets/img/complint_icon.svg" alt="" srcset=""></li>
          <li>Total Manage Complaint</li>
          <li>
            <h2 class="count">15</h2>
          </li>
        </ul>
      </div>
      <div class="cl"></div><br> <button mat-button color="primary" class="fr">More Info <mat-icon>keyboard_arrow_right
        </mat-icon></button>
    </mat-list-item>
  </mat-list>
</mat-card>

