<div class="width_90 margin_auto">
  <mat-card>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
      <div fxFlex="20" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/asset_icon.svg" alt="" srcset=""></li>
            <li class="dash-text-color">Total Assetmate</li>
            <li>
              <h2 class="count">{{rows.totalAssetMate}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><br> <button mat-button color="primary" routerLink="/assetmate" class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
      <div class="verticle-divider" fxHide.lt-sm="true">
      </div>
      <div fxFlex="20" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/doc_icon.svg" alt="" srcset=""></li>
            <li>Total Documate</li>
            <li>
              <h2 class="count">{{rows.totalDocuMate}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><br><button mat-button routerLink="/documate" color="primary" class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
      <div class="verticle-divider" fxHide.lt-sm="true">
      </div>
      <div fxFlex="20" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/task_icon.svg" alt="" srcset=""></li>
            <li>Total Taskmate</li>
            <li>
              <h2 class="count">{{rows.totalTaskMate}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><br><button mat-button routerLink="/taskmate" color="primary" class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
      <div class="verticle-divider" fxHide.lt-sm="true">
      </div>
      <div fxFlex="20" fxFlex.lt-md="100" fxLayout="column">
        <div class="dashboard_part">
          <ul>
            <li><img src="assets/img/complint_icon.svg" alt="" srcset=""></li>
            <li>Total Complaints</li>
            <li>
              <h2 class="count">{{rows.totalComplaints}}</h2>
            </li>
          </ul>
        </div>
        <div>
          <div class="cl"></div><br><button mat-button routerLink="/complaints" color="primary" class="fr">More Info
            <mat-icon>keyboard_arrow_right
            </mat-icon></button>
        </div>
      </div>
    </div>
  </mat-card>
  <div class="graph-m-t" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-around"
    fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div fxFlex.xs="50" fxFlex="50">
      <mat-card>
        <div fxLayout="row" fxLayoutAlign="end end">
          <mat-form-field fxFlex.xs="50">
            <mat-select [(value)]="assetsdefaultyear" (selectionChange)="selectedYearAssets($event.value)" name="year"
              id="year" placeholder="Select Year">
              <mat-option *ngFor="let yr of years" [value]="yr.Id">
                {{yr.data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data">
          <canvas id="monthlyasset" width="40" height="20"></canvas>
          <p class="graph-font">{{MonthlyAssetTitle}}-Year ({{assetselectedyear}})</p>
        </div>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <div fxLayout="row" fxLayoutAlign="end end">
          <mat-form-field fxFlex.xs="50">
            <mat-select [(value)]="complaintdefaultyear" (selectionChange)="selectedYearComplaint($event.value)"
              name="year" id="year" placeholder="Select Year">
              <mat-option *ngFor="let yr of years" [value]="yr.Id">
                {{yr.data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data1">
          <canvas id="monthlycomplaints" width="40" height="20"></canvas>
          <p class="graph-font">{{MonthlyComplaintsTitle}}-Year ({{complaintselectedyear}})</p>
        </div>

      </mat-card>
    </div>
  </div>
  <div class="graph-m-t" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-around"
    fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data2">
          <canvas id="CatAsset" width="40" height="20"></canvas>
          <p class="graph-font">{{CategoryAssetTitle}}</p>
        </div>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex="50">
      <mat-card>
        <div fxLayout="column" fxLayoutAlign="center center" *ngIf="data3">
          <canvas id="Pendingmaintainance" width="40" height="20"></canvas>
          <p class="graph-font">{{CategoryMaintainanceTitle}}</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>