<div fxLayout="row" class="margin_auto" fxLayoutAlign="space-evenly start">
  <mat-card fxFlex="95">
    <div class="innerpage_title" fxLayout="column" fxLayoutGap="30px">
      <div class="header_title flex_container">
        <div>
          <button mat-button (click)="backToList()" class="back btn_style round_squer bg_pink_navy text_white">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
        <div class="width_75">
          <p class="title_header mat-subheading-2 tal">{{taskmateData.title}}</p>
        </div>
        <div class="dfe add_action" style="width:19.5%">
        </div>
      </div>
      <!-- <div>
        <div class="fl total">
          <p><b>{{taskmateData.totalDoneChecklist}}</b><span>Total Complaints</span></p>
        </div>
        <div class="fl total">
          <p><b>{{taskmateData.totalDocuments}}</b><span>Total User Complaints Track</span></p>
        </div>
        <div class="fl total">
          <p><b>{{taskmateData.totalAssignedUsers}}</b><span>Total User Complaints Transfer</span></p>
        </div>
      </div> -->
      <div class="cl"></div>
    </div>
    <div class="asset_view_detail">
      <mat-tab-group>
        <mat-tab label="Taskmate Details">
          <div class="tab_content" fxLayout="column" fxLayoutGap="30px" fxLayoutGap.xs="20px" fxFlex="100">
            <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.xs="20px" fxLayoutGap.gt-xs="30px">
              <div fxFlex="33">
                <h4 class=" mat-h4 db ">Type Of Complaint</h4>
                <span>{{taskmateData.typeOfComplaint}}</span>
              </div>
              <div fxFlex="33">
                <h4 class=" mat-h4 db ">Title</h4>
                <span>{{taskmateData.title}}</span>
              </div>
              <div fxFlex="33">
                <h4 class=" mat-h4 db ">Complaint Status </h4>
                <span class="taskmateStatus">{{taskmateData.complaintStatus}}</span>
              </div>
            </div>
            <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.xs="20px" fxLayoutGap.gt-xs="30px">
              <div fxFlex="33">
                <h4 class=" mat-h4 db ">Type Of User</h4>
                <span>{{taskmateData.typeOfUser}}</span>
              </div>
              <div fxFlex="33">
                <h4 class=" mat-h4 db ">Raised By</h4>
                <span>{{taskmateData.raisedByName}}</span>
              </div>
              <div fxFlex="33">
                <h4 class=" mat-h4 db ">Created Date</h4>
                <span>{{taskmateData.createdDate}}</span>
              </div>
            </div>
            <div fxLayout="column">
              <h4 class=" mat-h4 db ">Message</h4>
              <span>{{taskmateData.message}}</span>
            </div>
            <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap.xs="20px" fxLayoutGap.gt-xs="30px">
              <div fxFlex="18" fxFlex.xs="100" fxFlex.sm="28" fxLayout="column">
                <h4 class=" mat-h4 db ">Complaint Image</h4>
                <mat-card class="asset-img-container-card" fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
                  <div [ngStyle]="{
                                          'background-image': 'url(' + taskmateData.complaintImage + ')',  
                                          'background-size': 'contain',
                                          'background-position': 'center center', 
                                          'background-repeat': 'no-repeat',
                                          'width':'100%', 
                                          'height':'100%',
                                          'min-height':'100px'
                                      }"></div>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Taskmate Track">
          <div class="tab_content">
            <app-view-taskmate-track></app-view-taskmate-track>
          </div>
        </mat-tab>
        <mat-tab label="Transfer Log">
          <div class="tab_content">
            <app-view-taskmate-transfer></app-view-taskmate-transfer>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</div>