.container-404{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-404 p{
   font-size: 30px;
   color:#6a1c7e;
}