<div *ngIf="!showFirst" fxLayout="column" fxFlex="100">
  <div class="portal-widget">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between center" class="padding_box">
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="5px">
        <button fxFlex.xs="100" mat-button (click)="addAsset()" class="bg_white_grey btn_style">
          <mat-icon>add</mat-icon>Add Asset
        </button>
        <button fxFlex.xs="100" mat-button (click)="printAllAssetQRcode()" class="bg_white_grey btn_style">
          <mat-icon>print</mat-icon>Print All Assets QRCode
        </button>
      </div>
      <form class="example-form filter_search" fxFlex.xs="100">
        <mat-form-field class="example-full-width" fxFlex.xs="100">
          <input matInput (keyup)="searchAsset($event.target.value)" placeholder="Search">
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="isNoRecordFound; else recordFound" class="no-record-found-container">
      <p>No Record Found</p>
    </div>
    <ng-template #recordFound>
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="assetCodeImage">
          <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef i18n>Asset Code Image
          </mat-header-cell>
          <mat-cell (click)="$event.stopPropagation()" fxHide.xs fxLayoutAlign="center center"
            class="imgwrapper rounded img-responsive" *matCellDef="let visit">
            <qrcode (click)="openDialog(visit.assetCode)" [qrdata]="visit.assetCode" [size]="60" [level]="'M'">
            </qrcode>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="assetCode">
          <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef i18n>Asset Code
          </mat-header-cell>
          <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">{{visit.assetCode}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="companyAssetNo">
          <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef i18n>Company Asset Number
          </mat-header-cell>
          <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">
            {{visit.companyAssetNo != 'undefined' ? visit.companyAssetNo : 'NA'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="assetImage">
          <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Image</mat-header-cell>
          <mat-cell fxLayoutAlign="center center" *matCellDef="let visit">
            <div (click)="$event.stopPropagation(); priviewImage( visit.assetTitle, visit.assetImage)" [ngStyle]="{ 
                'background-image': 'url(' + visit.assetImage + ')', 
                'background-size': 'contain',
                'background-position': 'center center',  
                'background-repeat': 'no-repeat', 
                'width':'80px', 
                'height':'80px'}"></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="assetTitle">
          <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef>Asset Title</mat-header-cell>
          <mat-cell fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.assetTitle }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="categoryName">
          <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Asset Category</mat-header-cell>
          <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.categoryName }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="modelNumber">
          <mat-header-cell fxHide.xs fxLayoutAlign="center center" *matHeaderCellDef>Model Number</mat-header-cell>
          <mat-cell fxHide.xs fxLayoutAlign="center center" *matCellDef="let visit">{{ visit.modelNumber }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef i18n>Actions</mat-header-cell>
          <mat-cell (click)="$event.stopPropagation()" fxLayoutAlign="end center" *matCellDef="let visit">
            <div>
              <mat-menu #dailyPerformanceMenu="matMenu">
                <a mat-menu-item (click)="viewAsset(visit.assetId)">
                  <mat-icon matListIcon>visibility</mat-icon>
                  <span i18n>View Asset Detail</span>
                </a>
                <a mat-menu-item (click)="editAsset(visit.assetId)">
                  <mat-icon matListIcon>edit</mat-icon>
                  <span i18n>Edit Asset</span>
                </a>
                <a mat-menu-item (click)="printQRcode(visit)">
                  <mat-icon matListIcon>print</mat-icon>
                  <span i18n>Print QRcode</span>
                </a>
                <a mat-menu-item (click)="deleteAsset(visit.assetId, visit.assetTitle)">
                  <mat-icon matListIcon>delete_outline</mat-icon>
                  <span i18n>Delete Asset</span>
                </a>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="dailyPerformanceMenu">
                <mat-icon matTooltip="Actions">format_list_bulleted</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="example-element-row" (click)="viewAsset(row.assetId)"
          *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <div>
        <mat-paginator [length]='totalCount' [pageSize]="10" [pageIndex]='pageNumber' (page)="pageChange($event)">
        </mat-paginator>
      </div>
    </ng-template>
  </div>
</div>
<div id="div-print">
  <div class="qr-code-container">
    <div class="qrcode-row" id="printableArea">
      <div class="col-1">
        <qrcode id="qrcode" [qrdata]="assetCode1" [size]="150" [level]="'M'"></qrcode>
      </div>
      <div class="col-2">
        <div class="row">
          <div>
            <div>Title</div>
            <div class="asset-value">{{assetForQRcode.assetTitle}}</div>
          </div>
        </div>
        <div class="row">
          <div>
            <div>AssetCode</div>
            <div class="asset-value">{{assetForQRcode.assetCode}}</div>
          </div>
        </div>
        <div class="row">
          <div>
            <div>Model No.</div>
            <div class="asset-value">{{assetForQRcode.modelNumber}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="div-print-bulk" *ngIf="allAssetForQRcode.length > 0">
  <div class="div-print-bulk" *ngFor="let asset of allAssetForQRcode; let i = index" style="margin-top: 20px;">
    <qrcode id="{{'qrcode'+i}}" [qrdata]="asset.assetCode" [size]="150" [level]="'M'"></qrcode>
  </div>
</div>