<div fxLayout="column">
  <div>
    <div class="fl">
      <p class="page-title">{{formTitle}}</p>
    </div>
  </div>
  <form fxLayout="column" fxFlex="100" #manufacturerform="ngForm" novalidate>
    <mat-form-field>
      <input matInput name="title" id="title" minlength="3" [(ngModel)]="manufacturerData.title"
        #ManufacturerTitle="ngModel" type="text" required placeholder="Title">
      <mat-error *ngIf="manufacturerform.submitted && ManufacturerTitle.invalid">
        <mat-error *ngIf="ManufacturerTitle.errors.required">Manufacturer Title is required</mat-error>
      </mat-error>
      <mat-error *ngIf="ManufacturerTitle.errors?.minlength">
        Title length Must be atleast 3!
      </mat-error>
    </mat-form-field>
    <div fxLayout.xs="column" fxLayoutAlign.gt-xs="end center" fxLayoutGap="10px">
      <button [mat-dialog-close]="cancelbtn" fxFlex.xs="100" mat-stroked-button i18n color="primary">Cancel</button>
      <button *ngIf="!isEdited" [color]="'success'" mat-raised-button i18n color="primary"
        [disabled]="!manufacturerform.valid"
        [matTooltip]="!manufacturerform.valid ? 'You must complete all the required fields.' : null" type="submit"
        (click)="addManufacturer(manufacturerform.value)">Save Manufacturer</button>
      <button *ngIf="isEdited" [color]="'success'" mat-raised-button i18n color="primary" type="submit"
        [disabled]="!manufacturerform.valid" (click)="editManufacturer(manufacturerform.value)">Update
        Manufacturer</button>
    </div>
  </form>
</div>