<div fxLayout="column">
  <div fxLayoutAlign="center center" class="form_header">
    <div class="fl">
      <p class="form_heading mat-subheading-2 fl">{{formTitle}}</p>
    </div>
  </div>
  <div fxLayout="row" fxFlex="100">
    <form fxLayout="column" fxFlex="100" #supplierform="ngForm">
      <mat-form-field fxFlex="100" fxFlex.xs="100">
        <input matInput name="firstName" id="firstName" pattern="[a-zA-Z ]*" [(ngModel)]="supplierData.firstName"
          #FirstName="ngModel" type="text" required placeholder="First Name">
        <mat-error *ngIf="supplierform.submitted && FirstName.invalid">
          <mat-error *ngIf="FirstName.errors.required">First Name is required</mat-error>
        </mat-error>
        <mat-error *ngIf="FirstName.errors?.pattern"> Please Enter Only Characters</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100" fxFlex.xs="100">
        <input matInput name="lastName" id="lastName" pattern="[a-zA-Z ]*" [(ngModel)]="supplierData.lastName"
          #LastName="ngModel" type="text" required placeholder="Last Name">
        <mat-error *ngIf="supplierform.submitted && LastName.invalid">
          <mat-error *ngIf="LastName.errors.required">Last Name is required</mat-error>
        </mat-error>
        <mat-error *ngIf="LastName.errors?.pattern"> Please Enter Only Characters</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100" fxFlex.xs="100">
        <input matInput name="businessName" id="businessName" [(ngModel)]="supplierData.businessName"
          #BusinessName="ngModel" type="text" required placeholder="Business Name">
        <mat-error *ngIf="supplierform.submitted && BusinessName.invalid">
          <mat-error *ngIf="BusinessName.errors.required">Business Name is required</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100" fxFlex.xs="100">
        <input matInput name="mobileNumber" pattern="[0-9]+" minlength="10" maxlength="10" id="mobileNumber"
          [(ngModel)]="supplierData.mobileNumber" #MobileNumber="ngModel" type="text" required
          placeholder="Mobile Number">
        <mat-error *ngIf="supplierform.submitted && MobileNumber.invalid">
          <mat-error *ngIf="MobileNumber.errors.required">Mobile Number is required</mat-error>
        </mat-error>
        <mat-error *ngIf="MobileNumber.errors?.pattern">
          Please add only digits!
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100" fxFlex.xs="100">
        <input name="emailId" id="emailId" [(ngModel)]="supplierData.emailId" #EmailId="ngModel"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" matInput type="text" required placeholder="Email Id">
        <mat-error *ngIf="supplierform.submitted && EmailId.invalid">
          <mat-error *ngIf="EmailId.errors.required">Email Id is required</mat-error>
        </mat-error>
        <mat-error *ngIf="EmailId.errors?.pattern">
          Please type your e-mail address in the format <b> name@example.com </b>!
        </mat-error>
      </mat-form-field>
      <div class="savebtn">
        <button *ngIf="!isEdited" [color]="'success'" mat-raised-button i18n color="primary"
          [disabled]="!supplierform.valid"
          [matTooltip]="!supplierform.valid ? 'You must complete all the required fields.' : null" type="submit"
          (click)="addSupplier(supplierform.value)">Save Supplier</button>
        <button *ngIf="isEdited" [color]="'success'" mat-raised-button i18n color="primary" type="submit"
          [disabled]="!supplierform.valid" (click)="editSupplier(supplierform.value)">Update Supplier</button>
        <button mat-raised-button [mat-dialog-close]="cancelbtn" class="fr">Cancel</button>
      </div>
    </form>
  </div>
</div>